7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/cde.dtd

<!-- ************************************************************* -->
<!-- Component Description Model                                   -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- Describes run-time (executable) software components and their -->
<!-- specifications                                                -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: Attribute                                              -->
<!-- Specializes: Attribute, Member                                -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Attribute
	( ANY
	| AttributeOperations
	)*
	>
<!ATTLIST Attribute
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: AttributeExe                                           -->
<!-- Specializes: MemberExe, Attribute, ComponentElement           -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ExecutionDetails : String                          -->
<!-- Attribute: ExecutionPerformance : String                      -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: ResourcesNeeded : String                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT AttributeExe
	( ANY
	)*
	>
<!ATTLIST AttributeExe
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ExecutionDetails              	CDATA	#IMPLIED
	ExecutionPerformance          	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	ResourcesNeeded               	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Component                                              -->
<!-- Specializes: Component, ComponentSpec                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: InstallationDetails : String                       -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsIndependentlyCreatable : Boolean                 -->
<!-- Attribute: IsInterfaceSetOpen : Boolean                       -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLicensed : Boolean                               -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ResourcesNeeded : String                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Component
	( ANY
	)*
	>
<!ATTLIST Component
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	InstallationDetails           	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsIndependentlyCreatable      	CDATA	#IMPLIED
	IsInterfaceSetOpen            	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLicensed                    	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ResourcesNeeded               	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ComponentCategory                                      -->
<!-- Specializes: ModelElement, ComponentElement, ComponentType    -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ComponentCategory
	( ANY
	| ComponentCategoryCompliantComponents
	)*
	>
<!ATTLIST ComponentCategory
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ComponentElement                                       -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ComponentElement
	( ANY
	)*
	>
<!ATTLIST ComponentElement
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ComponentSpec                                          -->
<!-- Specializes: ObjectType, ComponentElement                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsIndependentlyCreatable : Boolean                 -->
<!-- Attribute: IsInterfaceSetOpen : Boolean                       -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ComponentSpec
	( ANY
	| ComponentSpecRequiredInterfaces
	| ComponentSpecRequiredComponentCategories
	)*
	>
<!ATTLIST ComponentSpec
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsIndependentlyCreatable      	CDATA	#IMPLIED
	IsInterfaceSetOpen            	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ComponentType                                          -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ComponentType
	( ANY
	)*
	>
<!ATTLIST ComponentType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: EventSourceSpec                                        -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT EventSourceSpec
	( ANY
	| EventSourceSpecSourcedEvents
	)*
	>
<!ATTLIST EventSourceSpec
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Exception                                              -->
<!-- Specializes: Type                                             -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Exception
	( ANY
	)*
	>
<!ATTLIST Exception
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Interface                                              -->
<!-- Specializes: Type                                             -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Interface
	( ANY
	| InterfaceNonSupportingComponents
	| InterfaceMandatoryComponentTypes
	| InterfaceDisallowedComponentTypes
	| InterfaceOptionalComponentTypes
	| InterfaceSourceComponentTypes
	| InterfaceImplyingInterfaces
	| InterfaceSpecificationTypeLibrary
	)*
	>
<!ATTLIST Interface
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: InterfaceImplication                                   -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceImplication
	( ANY
	| InterfaceImplicationImplyingInterface
	)*
	>
<!ATTLIST InterfaceImplication
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: InterfaceSupport                                       -->
<!-- Specializes: Abstraction, SummaryInformation,                 -->
<!-- ComponentElement                                              -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: IsAlwaysSupported : Boolean                        -->
<!-- Attribute: IsDefault : Boolean                                -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: mapping : String                                   -->
<!-- Attribute: mappingLanguage : String                           -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceSupport
	( ANY
	)*
	>
<!ATTLIST InterfaceSupport
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	IsAlwaysSupported             	CDATA	#IMPLIED
	IsDefault                     	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	mapping                       	CDATA	#IMPLIED
	mappingLanguage               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Member                                                 -->
<!-- Specializes: Feature                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Member
	( ANY
	)*
	>
<!ATTLIST Member
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: MemberExe                                              -->
<!-- Specializes: Member                                           -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ExecutionDetails : String                          -->
<!-- Attribute: ExecutionPerformance : String                      -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: ResourcesNeeded : String                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT MemberExe
	( ANY
	)*
	>
<!ATTLIST MemberExe
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ExecutionDetails              	CDATA	#IMPLIED
	ExecutionPerformance          	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	ResourcesNeeded               	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ModuleOperation                                        -->
<!-- Specializes: ModuleOperation, Operation                       -->
<!-- ************************************************************* -->
<!-- Attribute: AccessorKind : Enumeration                         -->
<!-- Attribute: Body : String                                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: concurrency : Enumeration                          -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EntryIDOrdinal : UnlimitedInteger                  -->
<!-- Attribute: EntryIDString : String                             -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAccessor : Boolean                               -->
<!-- Attribute: IsIdempotent : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: IsVarArg : Boolean                                 -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Signature : String                                 -->
<!-- Attribute: specification : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT ModuleOperation
	( ANY
	)*
	>
<!ATTLIST ModuleOperation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AccessorKind                  	CDATA	#IMPLIED
	Body                          	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	concurrency                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EntryIDOrdinal                	CDATA	#IMPLIED
	EntryIDString                 	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAccessor                    	CDATA	#IMPLIED
	IsIdempotent                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	IsVarArg                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Signature                     	CDATA	#IMPLIED
	specification                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ModuleOperationExe                                     -->
<!-- Specializes: MemberExe, ModuleOperation, Operation            -->
<!-- ************************************************************* -->
<!-- Attribute: AccessorKind : Enumeration                         -->
<!-- Attribute: Body : String                                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: concurrency : Enumeration                          -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EntryIDOrdinal : UnlimitedInteger                  -->
<!-- Attribute: EntryIDString : String                             -->
<!-- Attribute: ExecutionDetails : String                          -->
<!-- Attribute: ExecutionPerformance : String                      -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAccessor : Boolean                               -->
<!-- Attribute: IsIdempotent : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: IsVarArg : Boolean                                 -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: ResourcesNeeded : String                           -->
<!-- Attribute: Signature : String                                 -->
<!-- Attribute: specification : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT ModuleOperationExe
	( ANY
	)*
	>
<!ATTLIST ModuleOperationExe
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AccessorKind                  	CDATA	#IMPLIED
	Body                          	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	concurrency                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EntryIDOrdinal                	CDATA	#IMPLIED
	EntryIDString                 	CDATA	#IMPLIED
	ExecutionDetails              	CDATA	#IMPLIED
	ExecutionPerformance          	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAccessor                    	CDATA	#IMPLIED
	IsIdempotent                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	IsVarArg                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	ResourcesNeeded               	CDATA	#IMPLIED
	Signature                     	CDATA	#IMPLIED
	specification                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Operation                                              -->
<!-- Specializes: Operation, Member                                -->
<!-- ************************************************************* -->
<!-- Attribute: AccessorKind : Enumeration                         -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: concurrency : Enumeration                          -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAccessor : Boolean                               -->
<!-- Attribute: IsIdempotent : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: IsVarArg : Boolean                                 -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Signature : String                                 -->
<!-- Attribute: specification : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Operation
	( ANY
	| OperationExceptions
	| OperationPrePostPairs
	)*
	>
<!ATTLIST Operation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AccessorKind                  	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	concurrency                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAccessor                    	CDATA	#IMPLIED
	IsIdempotent                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	IsVarArg                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Signature                     	CDATA	#IMPLIED
	specification                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: OperationExe                                           -->
<!-- Specializes: MemberExe, Operation                             -->
<!-- ************************************************************* -->
<!-- Attribute: AccessorKind : Enumeration                         -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: concurrency : Enumeration                          -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ExecutionDetails : String                          -->
<!-- Attribute: ExecutionPerformance : String                      -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAccessor : Boolean                               -->
<!-- Attribute: IsIdempotent : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUIDefault : Boolean                              -->
<!-- Attribute: IsVarArg : Boolean                                 -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: ResourcesNeeded : String                           -->
<!-- Attribute: Signature : String                                 -->
<!-- Attribute: specification : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT OperationExe
	( ANY
	)*
	>
<!ATTLIST OperationExe
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AccessorKind                  	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	concurrency                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ExecutionDetails              	CDATA	#IMPLIED
	ExecutionPerformance          	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAccessor                    	CDATA	#IMPLIED
	IsIdempotent                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUIDefault                   	CDATA	#IMPLIED
	IsVarArg                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	ResourcesNeeded               	CDATA	#IMPLIED
	Signature                     	CDATA	#IMPLIED
	specification                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Parameter                                              -->
<!-- Specializes: Parameter                                        -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: defaultValue : String                              -->
<!-- Attribute: defaultValueLanguage : String                      -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsOptional : Boolean                               -->
<!-- Attribute: IsReturnValue : Boolean                            -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: kind : Enumeration                                 -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Parameter
	( ANY
	)*
	>
<!ATTLIST Parameter
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	defaultValue                  	CDATA	#IMPLIED
	defaultValueLanguage          	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsOptional                    	CDATA	#IMPLIED
	IsReturnValue                 	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	kind                          	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PrePostPair                                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: PostCondition : String                             -->
<!-- Attribute: PreCondition : String                              -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PrePostPair
	( ANY
	)*
	>
<!ATTLIST PrePostPair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	PostCondition                 	CDATA	#IMPLIED
	PreCondition                  	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ServerApplication                                      -->
<!-- Specializes: Server, Application, Surrogate, NamedVersion,    -->
<!-- SummaryInformation                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MajorVersion : String                              -->
<!-- Attribute: MIMEType : String                                  -->
<!-- Attribute: MinorVersion : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: Revision : String                                  -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: Stream : String                                    -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ServerApplication
	( ANY
	| ServerTypeLibraries
	)*
	>
<!ATTLIST ServerApplication
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MajorVersion                  	CDATA	#IMPLIED
	MIMEType                      	CDATA	#IMPLIED
	MinorVersion                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	Revision                      	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	Stream                        	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ServerLibrary                                          -->
<!-- Specializes: Server, Library, Surrogate, NamedVersion,        -->
<!-- SummaryInformation                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MajorVersion : String                              -->
<!-- Attribute: MIMEType : String                                  -->
<!-- Attribute: MinorVersion : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: Revision : String                                  -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: Stream : String                                    -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ServerLibrary
	( ANY
	| ServerTypeLibraries
	)*
	>
<!ATTLIST ServerLibrary
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MajorVersion                  	CDATA	#IMPLIED
	MIMEType                      	CDATA	#IMPLIED
	MinorVersion                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	Revision                      	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	Stream                        	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: SourcedEvent                                           -->
<!-- Specializes: ComponentElement                                 -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EventModel : Enumeration                           -->
<!-- Attribute: IsDefault : Boolean                                -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT SourcedEvent
	( ANY
	| SourcedEventInterface
	)*
	>
<!ATTLIST SourcedEvent
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EventModel                    	CDATA	#IMPLIED
	IsDefault                     	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Type                                                   -->
<!-- Specializes: ObjectType, ComponentElement                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Type
	( ANY
	| TypeFactoredOperations
	)*
	>
<!ATTLIST Type
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TypeLibrary                                            -->
<!-- Specializes: Package, ComponentElement                        -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TypeLibrary
	( ANY
	)*
	>
<!ATTLIST TypeLibrary
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: AttributeOperations                              -->
<!-- ************************************************************* -->
<!ELEMENT AttributeOperations
	( ANY
	| Attribute
	| Operation
	)*
	>
<!ATTLIST AttributeOperations
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ComponentCategoryCompliantComponents             -->
<!-- ************************************************************* -->
<!ELEMENT ComponentCategoryCompliantComponents
	( ANY
	| ComponentSpec
	| ComponentCategory
	)*
	>
<!ATTLIST ComponentCategoryCompliantComponents
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ComponentSpecRequiredComponentCategories         -->
<!-- ************************************************************* -->
<!ELEMENT ComponentSpecRequiredComponentCategories
	( ANY
	| ComponentSpec
	| ComponentCategory
	)*
	>
<!ATTLIST ComponentSpecRequiredComponentCategories
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ComponentSpecRequiredInterfaces                  -->
<!-- ************************************************************* -->
<!ELEMENT ComponentSpecRequiredInterfaces
	( ANY
	| ComponentSpec
	| Interface
	)*
	>
<!ATTLIST ComponentSpecRequiredInterfaces
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EventSourceSpecSourcedEvents                     -->
<!-- ************************************************************* -->
<!ELEMENT EventSourceSpecSourcedEvents
	( ANY
	| EventSourceSpec
	| SourcedEvent
	)*
	>
<!ATTLIST EventSourceSpecSourcedEvents
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceDisallowedComponentTypes                -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceDisallowedComponentTypes
	( ANY
	| ComponentType
	| Interface
	)*
	>
<!ATTLIST InterfaceDisallowedComponentTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceImplicationImplyingInterface            -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceImplicationImplyingInterface
	( ANY
	| Interface
	| InterfaceImplication
	)*
	>
<!ATTLIST InterfaceImplicationImplyingInterface
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceImplyingInterfaces                      -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceImplyingInterfaces
	( ANY
	| InterfaceImplication
	| Interface
	)*
	>
<!ATTLIST InterfaceImplyingInterfaces
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceMandatoryComponentTypes                 -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceMandatoryComponentTypes
	( ANY
	| ComponentType
	| Interface
	)*
	>
<!ATTLIST InterfaceMandatoryComponentTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceNonSupportingComponents                 -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceNonSupportingComponents
	( ANY
	| ComponentSpec
	| Interface
	)*
	>
<!ATTLIST InterfaceNonSupportingComponents
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceOptionalComponentTypes                  -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceOptionalComponentTypes
	( ANY
	| ComponentType
	| Interface
	)*
	>
<!ATTLIST InterfaceOptionalComponentTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceSourceComponentTypes                    -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceSourceComponentTypes
	( ANY
	| ComponentType
	| Interface
	)*
	>
<!ATTLIST InterfaceSourceComponentTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InterfaceSpecificationTypeLibrary                -->
<!-- ************************************************************* -->
<!ELEMENT InterfaceSpecificationTypeLibrary
	( ANY
	| Interface
	| TypeLibrary
	)*
	>
<!ATTLIST InterfaceSpecificationTypeLibrary
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OperationExceptions                              -->
<!-- ************************************************************* -->
<!ELEMENT OperationExceptions
	( ANY
	| Operation
	| Exception
	)*
	>
<!ATTLIST OperationExceptions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OperationPrePostPairs                            -->
<!-- ************************************************************* -->
<!ELEMENT OperationPrePostPairs
	( ANY
	| Operation
	| PrePostPair
	)*
	>
<!ATTLIST OperationPrePostPairs
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ServerTypeLibraries                              -->
<!-- ************************************************************* -->
<!ELEMENT ServerTypeLibraries
	( ANY
	| Server
	| TypeLibrary
	)*
	>
<!ATTLIST ServerTypeLibraries
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SourcedEventInterface                            -->
<!-- ************************************************************* -->
<!ELEMENT SourcedEventInterface
	( ANY
	| SourcedEvent
	| Interface
	)*
	>
<!ATTLIST SourcedEventInterface
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TypeFactoredOperations                           -->
<!-- ************************************************************* -->
<!ELEMENT TypeFactoredOperations
	( ANY
	| Type
	| Operation
	)*
	>
<!ATTLIST TypeFactoredOperations
	id	ID	#REQUIRED
>


