7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/gen.dtd

<!-- ************************************************************* -->
<!-- Generic Elements                                              -->
<!-- Version: 2.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- A set of general-purpose classes that are relevant across     -->
<!-- diverse information models                                    -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: ContactInfo                                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Title : String                                     -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ContactInfo
	( ANY
	| ContactInfoEMails
	| ContactInfoTelephoneNumbers
	| ContactInfoLocations
	)*
	>
<!ATTLIST ContactInfo
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Title                         	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DescriptionSource                                      -->
<!-- Specializes: ModelElement, Surrogate                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DescriptionSource
	( ANY
	)*
	>
<!ATTLIST DescriptionSource
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: EMailID                                                -->
<!-- Specializes: Element                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EMailAddress : String                              -->
<!-- Attribute: EMailType : String                                 -->
<!-- ************************************************************* -->
<!ELEMENT EMailID
	( ANY
	)*
	>
<!ATTLIST EMailID
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EMailAddress                  	CDATA	#IMPLIED
	EMailType                     	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: HelpSource                                             -->
<!-- Specializes: ModelElement, Surrogate                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT HelpSource
	( ANY
	)*
	>
<!ATTLIST HelpSource
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Icon                                                   -->
<!-- Specializes: ModelElement, Surrogate                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Kind : String                                      -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Icon
	( ANY
	)*
	>
<!ATTLIST Icon
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Kind                          	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Keyword                                                -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Keyword
	( ANY
	)*
	>
<!ATTLIST Keyword
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Location                                               -->
<!-- Specializes: Element                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: LocationType : String                              -->
<!-- ************************************************************* -->
<!ELEMENT Location
	( ANY
	)*
	>
<!ATTLIST Location
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	LocationType                  	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: NamedVersion                                           -->
<!-- ************************************************************* -->
<!-- Attribute: MajorVersion : String                              -->
<!-- Attribute: MinorVersion : String                              -->
<!-- Attribute: Revision : String                                  -->
<!-- ************************************************************* -->
<!ELEMENT NamedVersion
	( ANY
	)*
	>
<!ATTLIST NamedVersion
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	MajorVersion                  	CDATA	#IMPLIED
	MinorVersion                  	CDATA	#IMPLIED
	Revision                      	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Package                                                -->
<!-- Specializes: Package, SummaryInformation                      -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Package
	( ANY
	| PackageAllowedTypes
	| PackageDefaultTypes
	)*
	>
<!ATTLIST Package
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Storage                                                -->
<!-- ************************************************************* -->
<!-- Attribute: MIMEType : String                                  -->
<!-- Attribute: Stream : String                                    -->
<!-- ************************************************************* -->
<!ELEMENT Storage
	( ANY
	)*
	>
<!ATTLIST Storage
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	MIMEType                      	CDATA	#IMPLIED
	Stream                        	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: SummaryInformation                                     -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- ************************************************************* -->
<!ELEMENT SummaryInformation
	( ANY
	| SummaryInformationDescriptionSource
	| SummaryInformationKeywords
	| SummaryInformationHelpSource
	| SummaryInformationIcons
	)*
	>
<!ATTLIST SummaryInformation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Surrogate                                              -->
<!-- ************************************************************* -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: URL : String                                       -->
<!-- ************************************************************* -->
<!ELEMENT Surrogate
	( ANY
	)*
	>
<!ATTLIST Surrogate
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TelephoneNumber                                        -->
<!-- Specializes: Element                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: PhoneNumber : String                               -->
<!-- Attribute: PhoneType : String                                 -->
<!-- ************************************************************* -->
<!ELEMENT TelephoneNumber
	( ANY
	)*
	>
<!ATTLIST TelephoneNumber
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	PhoneNumber                   	CDATA	#IMPLIED
	PhoneType                     	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: ContactInfoEMails                                -->
<!-- ************************************************************* -->
<!ELEMENT ContactInfoEMails
	( ANY
	| ContactInfo
	| EMailID
	)*
	>
<!ATTLIST ContactInfoEMails
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ContactInfoLocations                             -->
<!-- ************************************************************* -->
<!ELEMENT ContactInfoLocations
	( ANY
	| ContactInfo
	| Location
	)*
	>
<!ATTLIST ContactInfoLocations
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ContactInfoTelephoneNumbers                      -->
<!-- ************************************************************* -->
<!ELEMENT ContactInfoTelephoneNumbers
	( ANY
	| ContactInfo
	| TelephoneNumber
	)*
	>
<!ATTLIST ContactInfoTelephoneNumbers
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PackageAllowedTypes                              -->
<!-- ************************************************************* -->
<!ELEMENT PackageAllowedTypes
	( ANY
	| Package
	| TypeDef
	)*
	>
<!ATTLIST PackageAllowedTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PackageDefaultTypes                              -->
<!-- ************************************************************* -->
<!ELEMENT PackageDefaultTypes
	( ANY
	| Package
	| TypeDef
	)*
	>
<!ATTLIST PackageDefaultTypes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SummaryInformationDescriptionSource              -->
<!-- ************************************************************* -->
<!ELEMENT SummaryInformationDescriptionSource
	( ANY
	| SummaryInformation
	| DescriptionSource
	)*
	>
<!ATTLIST SummaryInformationDescriptionSource
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SummaryInformationHelpSource                     -->
<!-- ************************************************************* -->
<!ELEMENT SummaryInformationHelpSource
	( ANY
	| SummaryInformation
	| HelpSource
	)*
	>
<!ATTLIST SummaryInformationHelpSource
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SummaryInformationIcons                          -->
<!-- ************************************************************* -->
<!ELEMENT SummaryInformationIcons
	( ANY
	| SummaryInformation
	| Icon
	)*
	>
<!ATTLIST SummaryInformationIcons
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SummaryInformationKeywords                       -->
<!-- ************************************************************* -->
<!ELEMENT SummaryInformationKeywords
	( ANY
	| SummaryInformation
	| Keyword
	)*
	>
<!ATTLIST SummaryInformationKeywords
	id	ID	#REQUIRED
>


