7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/olap.dtd

<!-- ************************************************************* -->
<!-- OLAP Schema Elements                                          -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- An extension of the database schema package describing        -->
<!-- multidimensional databases                                    -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: Aggregation                                            -->
<!-- Specializes: Store                                            -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: JoinClause : String                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OlapMode : Enumeration                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Aggregation
	( ANY
	| StoreMappings
	| StoreMeasures
	)*
	>
<!ATTLIST Aggregation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	JoinClause                    	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OlapMode                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Catalog                                                -->
<!-- Specializes: Catalog                                          -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Catalog
	( ANY
	)*
	>
<!ATTLIST Catalog
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Connection                                             -->
<!-- Specializes: Connection                                       -->
<!-- ************************************************************* -->
<!-- Attribute: CloseQuoteChar : String                            -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: ConnectionTimeout : UnlimitedInteger               -->
<!-- Attribute: ConnectString : String                             -->
<!-- Attribute: DBName : String                                    -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DSN : String                                       -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: IsReusable : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Mode : UnlimitedInteger                            -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OpenQuoteChar : String                             -->
<!-- Attribute: Password : String                                  -->
<!-- Attribute: UserName : String                                  -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Connection
	( ANY
	)*
	>
<!ATTLIST Connection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	CloseQuoteChar                	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	ConnectionTimeout             	CDATA	#IMPLIED
	ConnectString                 	CDATA	#IMPLIED
	DBName                        	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DSN                           	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	IsReusable                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Mode                          	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OpenQuoteChar                 	CDATA	#IMPLIED
	Password                      	CDATA	#IMPLIED
	UserName                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Cube                                                   -->
<!-- Specializes: Store                                            -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: JoinClause : String                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OlapMode : Enumeration                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Cube
	( ANY
	| CubeUsingVirtualCubes
	| StoreMappings
	| StoreMeasures
	)*
	>
<!ATTLIST Cube
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	JoinClause                    	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OlapMode                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DeployedCatalog                                        -->
<!-- Specializes: DeployedCatalog                                  -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: SourceType : String                                -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DeployedCatalog
	( ANY
	)*
	>
<!ATTLIST DeployedCatalog
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	SourceType                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DeployedOLAPDatabase                                   -->
<!-- Specializes: OLAPDatabase                                     -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DeployedOLAPDatabase
	( ANY
	)*
	>
<!ATTLIST DeployedOLAPDatabase
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DimHierarchy                                           -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DimHierarchy
	( ANY
	| DimHierarchyLevels
	| DimHierarchyMappings
	)*
	>
<!ATTLIST DimHierarchy
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DimLevel                                               -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MemberKeyColumn : String                           -->
<!-- Attribute: MemberNameColumn : String                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DimLevel
	( ANY
	| DimLevelJoinRoles
	| DimLevelMappings
	)*
	>
<!ATTLIST DimLevel
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MemberKeyColumn               	CDATA	#IMPLIED
	MemberNameColumn              	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Dimension                                              -->
<!-- Specializes: Package                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DimensionType : Enumeration                        -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsTime : Boolean                                   -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Dimension
	( ANY
	| DimensionHierarchies
	)*
	>
<!ATTLIST Dimension
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DimensionType                 	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsTime                        	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Field                                                  -->
<!-- Specializes: Attribute                                        -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Field
	( ANY
	| FieldKeyedLevels
	| FieldNamedLevels
	| FieldKeyedMLPs
	)*
	>
<!ATTLIST Field
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: JoinRole                                               -->
<!-- Specializes: AssociationEnd                                   -->
<!-- ************************************************************* -->
<!-- Attribute: aggregation : Enumeration                          -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isNavigable : Boolean                              -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ordering : Enumeration                             -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: AssociationEnd.visibility : Enumeration            -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT JoinRole
	( ANY
	)*
	>
<!ATTLIST JoinRole
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	aggregation                   	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isNavigable                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ordering                      	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	AssociationEnd.visibility     	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LogicalOLAPDatabase                                    -->
<!-- Specializes: OLAPDatabase                                     -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT LogicalOLAPDatabase
	( ANY
	)*
	>
<!ATTLIST LogicalOLAPDatabase
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Mapping                                                -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Mapping
	( ANY
	| MappingMappedLevels
	)*
	>
<!ATTLIST Mapping
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: MappingLevelPair                                       -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsDisabled : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MemberKeyColumn : String                           -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT MappingLevelPair
	( ANY
	)*
	>
<!ATTLIST MappingLevelPair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsDisabled                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MemberKeyColumn               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Measure                                                -->
<!-- Specializes: Field                                            -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Measure
	( ANY
	| FieldKeyedLevels
	| FieldNamedLevels
	| FieldKeyedMLPs
	)*
	>
<!ATTLIST Measure
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: OLAPServer                                             -->
<!-- Specializes: DataSource                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsPublic : Boolean                                 -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT OLAPServer
	( ANY
	| OLAPServerDeployedDatabases
	)*
	>
<!ATTLIST OLAPServer
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsPublic                      	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Partition                                              -->
<!-- Specializes: Store                                            -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: JoinClause : String                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OlapMode : Enumeration                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Partition
	( ANY
	| PartitionOwnedAggregations
	| StoreMappings
	| StoreMeasures
	)*
	>
<!ATTLIST Partition
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	JoinClause                    	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OlapMode                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PhysicalCube                                           -->
<!-- Specializes: Cube                                             -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: JoinClause : String                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OlapMode : Enumeration                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PhysicalCube
	( ANY
	| PhysicalCubeOwnedPartitions
	| CubeUsingVirtualCubes
	| StoreMappings
	| StoreMeasures
	)*
	>
<!ATTLIST PhysicalCube
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	JoinClause                    	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OlapMode                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: VirtualCube                                            -->
<!-- Specializes: Cube                                             -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: JoinClause : String                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OlapMode : Enumeration                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT VirtualCube
	( ANY
	| CubeUsingVirtualCubes
	| StoreMappings
	| StoreMeasures
	)*
	>
<!ATTLIST VirtualCube
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	JoinClause                    	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OlapMode                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: CubeUsingVirtualCubes                            -->
<!-- ************************************************************* -->
<!ELEMENT CubeUsingVirtualCubes
	( ANY
	| VirtualCube
	| Cube
	)*
	>
<!ATTLIST CubeUsingVirtualCubes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DimHierarchyLevels                               -->
<!-- ************************************************************* -->
<!ELEMENT DimHierarchyLevels
	( ANY
	| DimHierarchy
	| DimLevel
	)*
	>
<!ATTLIST DimHierarchyLevels
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DimHierarchyMappings                             -->
<!-- ************************************************************* -->
<!ELEMENT DimHierarchyMappings
	( ANY
	| DimHierarchy
	| Mapping
	)*
	>
<!ATTLIST DimHierarchyMappings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DimLevelJoinRoles                                -->
<!-- ************************************************************* -->
<!ELEMENT DimLevelJoinRoles
	( ANY
	| DimLevel
	| JoinRole
	)*
	>
<!ATTLIST DimLevelJoinRoles
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DimLevelMappings                                 -->
<!-- ************************************************************* -->
<!ELEMENT DimLevelMappings
	( ANY
	| MappingLevelPair
	| DimLevel
	)*
	>
<!ATTLIST DimLevelMappings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DimensionHierarchies                             -->
<!-- ************************************************************* -->
<!ELEMENT DimensionHierarchies
	( ANY
	| Dimension
	| DimHierarchy
	)*
	>
<!ATTLIST DimensionHierarchies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: MappingMappedLevels                              -->
<!-- ************************************************************* -->
<!ELEMENT MappingMappedLevels
	( ANY
	| Mapping
	| MappingLevelPair
	)*
	>
<!ATTLIST MappingMappedLevels
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OLAPDatabaseCubes                                -->
<!-- ************************************************************* -->
<!ELEMENT OLAPDatabaseCubes
	( ANY
	| Cube
	| OLAPDatabase
	)*
	>
<!ATTLIST OLAPDatabaseCubes
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OLAPDatabaseDataSources                          -->
<!-- ************************************************************* -->
<!ELEMENT OLAPDatabaseDataSources
	( ANY
	| Connection
	| OLAPDatabase
	)*
	>
<!ATTLIST OLAPDatabaseDataSources
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OLAPDatabaseDimensions                           -->
<!-- ************************************************************* -->
<!ELEMENT OLAPDatabaseDimensions
	( ANY
	| Dimension
	| OLAPDatabase
	)*
	>
<!ATTLIST OLAPDatabaseDimensions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: OLAPServerDeployedDatabases                      -->
<!-- ************************************************************* -->
<!ELEMENT OLAPServerDeployedDatabases
	( ANY
	| DeployedOLAPDatabase
	| OLAPServer
	)*
	>
<!ATTLIST OLAPServerDeployedDatabases
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PartitionOwnedAggregations                       -->
<!-- ************************************************************* -->
<!ELEMENT PartitionOwnedAggregations
	( ANY
	| Partition
	| Aggregation
	)*
	>
<!ATTLIST PartitionOwnedAggregations
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PhysicalCubeOwnedPartitions                      -->
<!-- ************************************************************* -->
<!ELEMENT PhysicalCubeOwnedPartitions
	( ANY
	| PhysicalCube
	| Partition
	)*
	>
<!ATTLIST PhysicalCubeOwnedPartitions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: StoreMappings                                    -->
<!-- ************************************************************* -->
<!ELEMENT StoreMappings
	( ANY
	| Store
	| Mapping
	)*
	>
<!ATTLIST StoreMappings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: StoreMeasures                                    -->
<!-- ************************************************************* -->
<!ELEMENT StoreMeasures
	( ANY
	| Store
	| Measure
	)*
	>
<!ATTLIST StoreMeasures
	id	ID	#REQUIRED
>


