7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/rec.dtd

<!-- ************************************************************* -->
<!-- Record Oriented Legacy Databases                              -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- Describes legacy and file oriented databases                  -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: ArrayDimension                                         -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DimensionNumber : UnlimitedInteger                 -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ArrayDimension
	( ANY
	)*
	>
<!ATTLIST ArrayDimension
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DimensionNumber               	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CopyLib                                                -->
<!-- Specializes: Package, Surrogate                               -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: RepositoryUpdated : String                         -->
<!-- Attribute: RepositoryUpdatedBy : String                       -->
<!-- Attribute: SourceCreated : String                             -->
<!-- Attribute: SourceLastChanged : String                         -->
<!-- Attribute: URL : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CopyLib
	( ANY
	| CopyLibContainmentsAsContained
	| NamespaceOwnsModelElement
	)*
	>
<!ATTLIST CopyLib
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	RepositoryUpdated             	CDATA	#IMPLIED
	RepositoryUpdatedBy           	CDATA	#IMPLIED
	SourceCreated                 	CDATA	#IMPLIED
	SourceLastChanged             	CDATA	#IMPLIED
	URL                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CopyLibContains                                        -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: Is01Generated : Boolean                            -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Sequence : UnlimitedInteger                        -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CopyLibContains
	( ANY
	| CopyLibContainsContainingCopyLib
	)*
	>
<!ATTLIST CopyLibContains
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	Is01Generated                 	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Sequence                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DeployedField                                          -->
<!-- Specializes: Field                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: IdentityIncrement : Integer                        -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: Ordinal : UnlimitedInteger                         -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: ValueExpression : String                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT DeployedField
	( ANY
	| FieldLevels
	)*
	>
<!ATTLIST DeployedField
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	AverageLength                 	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	IdentityIncrement             	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	Ordinal                       	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	ValueExpression               	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DeployedGroup                                          -->
<!-- Specializes: Group                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT DeployedGroup
	( ANY
	)*
	>
<!ATTLIST DeployedGroup
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	AverageLength                 	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DeployedRecord                                         -->
<!-- Specializes: Record                                           -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: FieldDelimiter : String                            -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsFirstRowColNames : Boolean                       -->
<!-- Attribute: IsFixedWidth : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: RecordDelimiter : String                           -->
<!-- Attribute: SkipRows : UnlimitedInteger                        -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: TextQualifier : String                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DeployedRecord
	( ANY
	| RecordRecordFormat
	| RecordContainmentsAsContained
	| RecordGroupDef
	)*
	>
<!ATTLIST DeployedRecord
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	FieldDelimiter                	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsFirstRowColNames            	CDATA	#IMPLIED
	IsFixedWidth                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	RecordDelimiter               	CDATA	#IMPLIED
	SkipRows                      	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	TextQualifier                 	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: FieldDerivation                                        -->
<!-- Specializes: Derivation                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT FieldDerivation
	( ANY
	)*
	>
<!ATTLIST FieldDerivation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: GroupDef                                               -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT GroupDef
	( ANY
	| GroupDefGroup
	)*
	>
<!ATTLIST GroupDef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LanguageFunction                                       -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Sequence : Integer                                 -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT LanguageFunction
	( ANY
	)*
	>
<!ATTLIST LanguageFunction
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Sequence                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Level                                                  -->
<!-- Specializes: ComponentElement                                 -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsExpert : Boolean                                 -->
<!-- Attribute: IsHidden : Boolean                                 -->
<!-- Attribute: IsRestricted : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ValueExpression : String                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Level
	( ANY
	)*
	>
<!ATTLIST Level
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsExpert                      	CDATA	#IMPLIED
	IsHidden                      	CDATA	#IMPLIED
	IsRestricted                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ValueExpression               	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LogicalField                                           -->
<!-- Specializes: Field                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: IdentityIncrement : Integer                        -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: Ordinal : UnlimitedInteger                         -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: ValueExpression : String                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT LogicalField
	( ANY
	| FieldLevels
	)*
	>
<!ATTLIST LogicalField
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	AverageLength                 	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	IdentityIncrement             	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	Ordinal                       	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	ValueExpression               	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LogicalGroup                                           -->
<!-- Specializes: Group                                            -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT LogicalGroup
	( ANY
	)*
	>
<!ATTLIST LogicalGroup
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	AverageLength                 	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LogicalRecord                                          -->
<!-- Specializes: Record                                           -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: FieldDelimiter : String                            -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: IsFirstRowColNames : Boolean                       -->
<!-- Attribute: IsFixedWidth : Boolean                             -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: RecordDelimiter : String                           -->
<!-- Attribute: SkipRows : UnlimitedInteger                        -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: TextQualifier : String                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT LogicalRecord
	( ANY
	| RecordRecordFormat
	| RecordContainmentsAsContained
	| RecordGroupDef
	)*
	>
<!ATTLIST LogicalRecord
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	FieldDelimiter                	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	IsFirstRowColNames            	CDATA	#IMPLIED
	IsFixedWidth                  	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	RecordDelimiter               	CDATA	#IMPLIED
	SkipRows                      	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	TextQualifier                 	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: RecordFormat                                           -->
<!-- Specializes: RecordItem, Classifier                           -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Body : String                                      -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: FeatureExpression : String                         -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAligned : Boolean                                -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT RecordFormat
	( ANY
	)*
	>
<!ATTLIST RecordFormat
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Body                          	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	FeatureExpression             	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAligned                     	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Redefines                                              -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Redefines
	( ANY
	)*
	>
<!ATTLIST Redefines
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Renames                                                -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Renames
	( ANY
	)*
	>
<!ATTLIST Renames
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: RenamesThru                                            -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT RenamesThru
	( ANY
	)*
	>
<!ATTLIST RenamesThru
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: CopyLibContainmentsAsContained                   -->
<!-- ************************************************************* -->
<!ELEMENT CopyLibContainmentsAsContained
	( ANY
	| CopyLibContains
	| CopyLib
	)*
	>
<!ATTLIST CopyLibContainmentsAsContained
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CopyLibContainsContainingCopyLib                 -->
<!-- ************************************************************* -->
<!ELEMENT CopyLibContainsContainingCopyLib
	( ANY
	| CopyLib
	| CopyLibContains
	)*
	>
<!ATTLIST CopyLibContainsContainingCopyLib
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: FieldLevels                                      -->
<!-- ************************************************************* -->
<!ELEMENT FieldLevels
	( ANY
	| Field
	| Level
	)*
	>
<!ATTLIST FieldLevels
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: GroupDefGroup                                    -->
<!-- ************************************************************* -->
<!ELEMENT GroupDefGroup
	( ANY
	| Group
	| GroupDef
	)*
	>
<!ATTLIST GroupDefGroup
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: NamespaceOwnsModelElement                        -->
<!-- ************************************************************* -->
<!ELEMENT NamespaceOwnsModelElement
	( ANY
	| CopyLib
	| Record
	)*
	>
<!ATTLIST NamespaceOwnsModelElement
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RecordContainmentsAsContained                    -->
<!-- ************************************************************* -->
<!ELEMENT RecordContainmentsAsContained
	( ANY
	| CopyLibContains
	| Record
	)*
	>
<!ATTLIST RecordContainmentsAsContained
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RecordGroupDef                                   -->
<!-- ************************************************************* -->
<!ELEMENT RecordGroupDef
	( ANY
	| Record
	| GroupDef
	)*
	>
<!ATTLIST RecordGroupDef
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RecordRecordFormat                               -->
<!-- ************************************************************* -->
<!ELEMENT RecordRecordFormat
	( ANY
	| Record
	| RecordFormat
	)*
	>
<!ATTLIST RecordRecordFormat
	id	ID	#REQUIRED
>


