7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/sdbm.dtd

<!-- ************************************************************* -->
<!-- SapDB Database Schema Elements                                -->
<!-- Version: 1.0                                                  -->
<!-- Date: 1. Maerz 2001                                           -->
<!-- ************************************************************* -->
<!-- Describes information about data maintained in the SapDb      -->
<!-- relational databases of an organization                       -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class:  sdbm:Connection                                    -->
<!-- Specializes: OIM:DBM:Connection                             -->
<!-- ************************************************************* -->
<!-- Attribute: SQL_PRODUCER : String                              -->
<!-- Attribute: SQL_COMPONENT: String                              -->
<!-- ************************************************************* -->
<!ELEMENT Connection
	( ANY
	| ConnectionProvider
	| ConnectionDefaultCatalog
	)*
	>
<!ATTLIST Connection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Sql_Producer                    CDATA	#IMPLIED
	Sql_Component                   CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:DeployedSchema                                    -->
<!-- Specializes:  DeployedSchema                                  -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: Owner     : String                                 -->
<!-- Attribute: Groupname : String                          	   -->
<!-- Attribute: Username  : String                                 -->
<!-- Attribute: Usermode  : String                                 -->
<!-- Attribute: Permlimit : String                                 -->
<!-- Attribute: Templimit : String                                 -->
<!-- Attribute: MaxTimeOut : String                                -->
<!-- Attribute: Costwarning: String                                -->
<!-- Attribute: Costlimit  : String                                -->
<!-- Attribute: Connectmode: String                                -->
<!-- Attribute: Comment    : String                                -->
<!-- ************************************************************* -->
<!ELEMENT DeployedSchema 
	( ANY
	| SchemaReferentialConstraints
	| SchemaDatabaseConstraints
	| SchemaTableSynonyms
	| SchemaIndexes
	| SchemaStoredProcedures
	| SchemaTables
	| SchemaViews
	)*
	>
<!ATTLIST DeployedSchema 
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED

     	Owner                		CDATA	#IMPLIED       
	Groupname               	CDATA	#IMPLIED
	Username                	CDATA	#IMPLIED
	Usermode                	CDATA	#IMPLIED
	Permlimit               	CDATA	#IMPLIED
	Templimit               	CDATA	#IMPLIED
	MaxTimeOut              	CDATA	#IMPLIED
	Costwarning             	CDATA	#IMPLIED
	Costlimit               	CDATA	#IMPLIED
	Connectmode             	CDATA	#IMPLIED
	Comment                 	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:CHAR                                            -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:VARCHAR                                         -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:LONG VARCHAR                                    -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:BOOLEAN                                         -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:FIXED                                           -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>
<!-- ************************************************************* -->
<!-- Class: sdbm:FLOAT                                           -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>
<!-- ************************************************************* -->
<!-- Class: sdbm:INT                                             -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>
<!-- ************************************************************* -->
<!-- Class: sdbm:SMALLINT                                        -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:DATE                                             -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:TIME                                            -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: sdbm:TIMESTAMP                                       -->
<!-- Specializes: DBM:ColumnType                                   -->
<!-- ************************************************************* -->
<!-- Attribute: ColumnSize : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateParams : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: IsAutoUniqueValue : Boolean                        -->
<!-- Attribute: IsCaseSensitive : Boolean                          -->
<!-- Attribute: IsFixedLength : Boolean                            -->
<!-- Attribute: IsFixedPrecisionScale : Boolean                    -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: IsLong : Boolean                                   -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: IsUnsignedAttribute : Boolean                      -->
<!-- Attribute: LiteralPrefix : String                             -->
<!-- Attribute: LiteralSuffix : String                             -->
<!-- Attribute: MaximumScale : Integer                             -->
<!-- Attribute: MinimumScale : Integer                             -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Searchable : Enumeration                           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ColumnType
	( ANY
	| ColumnTypeColumn
	| ColumnTypeProviderMappings
	)*
	>
<!ATTLIST ColumnType
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	ColumnSize                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateParams                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	IsAutoUniqueValue             	CDATA	#IMPLIED
	IsCaseSensitive               	CDATA	#IMPLIED
	IsFixedLength                 	CDATA	#IMPLIED
	IsFixedPrecisionScale         	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	IsLong                        	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	IsUnsignedAttribute           	CDATA	#IMPLIED
	LiteralPrefix                 	CDATA	#IMPLIED
	LiteralSuffix                 	CDATA	#IMPLIED
	MaximumScale                  	CDATA	#IMPLIED
	MinimumScale                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Searchable                    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>





