7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/sim.dtd

<!-- ************************************************************* -->
<!-- Semantic Definition Elements                                  -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- Describes the natural language semantics of relational        -->
<!-- database entities                                             -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: AdjectivePhrasing                                      -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MinusThreshold : String                            -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: PlusThreshold : String                             -->
<!-- Attribute: SignOfRestatementAdjective : Enumeration           -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT AdjectivePhrasing
	( ANY
	| PhrasingOwnedThings
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST AdjectivePhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MinusThreshold                	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	PlusThreshold                 	CDATA	#IMPLIED
	SignOfRestatementAdjective    	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Command                                                -->
<!-- Specializes: Relationship                                     -->
<!-- ************************************************************* -->
<!-- Attribute: CommandName : String                               -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: HelpText : String                                  -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MostRecentFlag : Boolean                           -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Command
	( ANY
	| CommandCommandArguments
	| RelationshipOwnedPhrasings
	| RelationshipEntInRel
	| RelationshipUsedTableDependencies
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST Command
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	CommandName                   	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	HelpText                      	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MostRecentFlag                	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CommandArgument                                        -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: CmdArgType : Enumeration                           -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Position : UnlimitedInteger                        -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CommandArgument
	( ANY
	| CommandArgumentEntityDependencies
	)*
	>
<!ATTLIST CommandArgument
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	CmdArgType                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Position                      	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CommandPhrasing                                        -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CommandPhrasing
	( ANY
	| PhrasingOwnedThings
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST CommandPhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CorrespondenceOfFieldRefToEntity                       -->
<!-- Specializes: UseOfFieldByEntity                               -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: SequenceNumber : UnlimitedInteger                  -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfFieldRefToEntity
	( ANY
	| CorrespondenceOfFieldRefToEntityFieldRef
	| Supplier
	)*
	>
<!ATTLIST CorrespondenceOfFieldRefToEntity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	SequenceNumber                	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CorrespondenceOfFieldToFieldRef                        -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfFieldToFieldRef
	( ANY
	| CorrespondenceOfFieldToFieldRefSemanticF
	)*
	>
<!ATTLIST CorrespondenceOfFieldToFieldRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CorrespondenceOfJoinToJoinRef                          -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfJoinToJoinRef
	( ANY
	)*
	>
<!ATTLIST CorrespondenceOfJoinToJoinRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CorrespondenceOfTableRefToEntity                       -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfTableRefToEntity
	( ANY
	| CorrespondenceOfTableRefToEntityTableRef
	)*
	>
<!ATTLIST CorrespondenceOfTableRefToEntity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CorrespondenceOfTableToTableRef                        -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfTableToTableRef
	( ANY
	)*
	>
<!ATTLIST CorrespondenceOfTableToTableRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DatabaseRship                                          -->
<!-- Specializes: Relationship                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: HelpText : String                                  -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MostRecentFlag : Boolean                           -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DatabaseRship
	( ANY
	| DatabaseRshipJoinTableRefDependencies
	| RelationshipOwnedPhrasings
	| RelationshipEntInRel
	| RelationshipUsedTableDependencies
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST DatabaseRship
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	HelpText                      	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MostRecentFlag                	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DateResolutionForEntByRship                            -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DateResolutionForEntByRship
	( ANY
	| DateResolutionForEntByRshipDateResolving
	)*
	>
<!ATTLIST DateResolutionForEntByRship
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DictEntryIrregularity                                  -->
<!-- Specializes: Feature                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: Form : String                                      -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Type : Enumeration                                 -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT DictEntryIrregularity
	( ANY
	)*
	>
<!ATTLIST DictEntryIrregularity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	Form                          	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Type                          	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DictionaryEntry                                        -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: PartOfSpeech : Enumeration                         -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DictionaryEntry
	( ANY
	| ClassifierHasFeatures
	)*
	>
<!ATTLIST DictionaryEntry
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	PartOfSpeech                  	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: DisplayOfEntityByField                                 -->
<!-- Specializes: UseOfFieldByEntity                               -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: SequenceNumber : UnlimitedInteger                  -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT DisplayOfEntityByField
	( ANY
	| Supplier
	)*
	>
<!ATTLIST DisplayOfEntityByField
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	SequenceNumber                	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: EntInRel                                               -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: AlwaysShowFlag : Boolean                           -->
<!-- Attribute: AmountFlag : Boolean                               -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NonDBType : Enumeration                            -->
<!-- Attribute: QuantityFlag : Boolean                             -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT EntInRel
	( ANY
	| EntInRelSequenceOfJoinPathItems
	| EntInRelEntity
	| EntInRelCommandArgDependencies
	)*
	>
<!ATTLIST EntInRel
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AlwaysShowFlag                	CDATA	#IMPLIED
	AmountFlag                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NonDBType                     	CDATA	#IMPLIED
	QuantityFlag                  	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Entity                                                 -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EntityType : Enumeration                           -->
<!-- Attribute: HelpText : String                                  -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MemorizeNamesFlag : Boolean                        -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: StandsAloneFlag : Boolean                          -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Entity
	( ANY
	| EntityOwnedThings
	| EntityUsedField
	| EntityDateResolvingDependency
	| EntityPairAsObject
	| EntityCorrespondencesToTableRefs
	| EntityFieldCorrespondences
	)*
	>
<!ATTLIST Entity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EntityType                    	CDATA	#IMPLIED
	HelpText                      	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MemorizeNamesFlag             	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	StandsAloneFlag               	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: EntityOwnedThing                                       -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT EntityOwnedThing
	( ANY
	)*
	>
<!ATTLIST EntityOwnedThing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: EntityOwnedWord                                        -->
<!-- Specializes: EntityOwnedThing                                 -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsPrimaryEow : Boolean                             -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: Word : String                                      -->
<!-- ************************************************************* -->
<!ELEMENT EntityOwnedWord
	( ANY
	)*
	>
<!ATTLIST EntityOwnedWord
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsPrimaryEow                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	Word                          	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: FieldRef                                               -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: CapitalizationType : String                        -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: Computation : String                               -->
<!-- Attribute: DataType : Enumeration                             -->
<!-- Attribute: DateType : Enumeration                             -->
<!-- Attribute: DenormCopyFlag : Boolean                           -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: KeyFlag : Boolean                                  -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NameStructure : Enumeration                        -->
<!-- Attribute: Units : String                                     -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: WildCardFlag : Boolean                             -->
<!-- ************************************************************* -->
<!ELEMENT FieldRef
	( ANY
	)*
	>
<!ATTLIST FieldRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	CapitalizationType            	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	Computation                   	CDATA	#IMPLIED
	DataType                      	CDATA	#IMPLIED
	DateType                      	CDATA	#IMPLIED
	DenormCopyFlag                	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	KeyFlag                       	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NameStructure                 	CDATA	#IMPLIED
	Units                         	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	WildCardFlag                  	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: InclusionOfTableSetInSchema                            -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT InclusionOfTableSetInSchema
	( ANY
	| InclusionOfTableSetInSchemaSemanticTable
	)*
	>
<!ATTLIST InclusionOfTableSetInSchema
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: InheritanceOfEntityFromEntity                          -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT InheritanceOfEntityFromEntity
	( ANY
	)*
	>
<!ATTLIST InheritanceOfEntityFromEntity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: JoinRoleRef                                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT JoinRoleRef
	( ANY
	| JoinRoleRefJoinDependencies
	)*
	>
<!ATTLIST JoinRoleRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Model                                                  -->
<!-- Specializes: Package                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Model
	( ANY
	)*
	>
<!ATTLIST Model
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: NameEntity                                             -->
<!-- Specializes: Entity                                           -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EntityType : Enumeration                           -->
<!-- Attribute: HelpText : String                                  -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MemorizeNamesFlag : Boolean                        -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NameType : Enumeration                             -->
<!-- Attribute: StandsAloneFlag : Boolean                          -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT NameEntity
	( ANY
	| EntityOwnedThings
	| EntityUsedField
	| EntityDateResolvingDependency
	| EntityPairAsObject
	| EntityCorrespondencesToTableRefs
	| EntityFieldCorrespondences
	)*
	>
<!ATTLIST NameEntity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EntityType                    	CDATA	#IMPLIED
	HelpText                      	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MemorizeNamesFlag             	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NameType                      	CDATA	#IMPLIED
	StandsAloneFlag               	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: NamePhrasing                                           -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT NamePhrasing
	( ANY
	)*
	>
<!ATTLIST NamePhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: NameSynonymPair                                        -->
<!-- Specializes: EntityOwnedThing                                 -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: InstanceName : String                              -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Synonym : String                                   -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT NameSynonymPair
	( ANY
	)*
	>
<!ATTLIST NameSynonymPair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	InstanceName                  	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Synonym                       	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Phrasing                                               -->
<!-- Specializes: ThingThatCanReferToEntities                      -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Phrasing
	( ANY
	| PhrasingOwnedThings
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST Phrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PhrasingGroup                                          -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PhrasingGroup
	( ANY
	)*
	>
<!ATTLIST PhrasingGroup
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PhrasingOwnedThing                                     -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PhrasingOwnedThing
	( ANY
	)*
	>
<!ATTLIST PhrasingOwnedThing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PrepPhrase                                             -->
<!-- Specializes: ThingThatCanReferToEntities, PhrasingOwnedThing  -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsPrimaryPrepPhrase : Boolean                      -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PrepPhrase
	( ANY
	| PrepPhraseOwnedPrepositions
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST PrepPhrase
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsPrimaryPrepPhrase           	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PrepPhrasing                                           -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PrepPhrasing
	( ANY
	| PhrasingOwnedThings
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST PrepPhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Preposition                                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: Word : String                                      -->
<!-- ************************************************************* -->
<!ELEMENT Preposition
	( ANY
	)*
	>
<!ATTLIST Preposition
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	Word                          	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PresenceOfPhrasingInPhrasingGroup                      -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Mandatory : Boolean                                -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT PresenceOfPhrasingInPhrasingGroup
	( ANY
	| PresenceOfPhrasingInPhrasingGroupPresent
	| Client
	)*
	>
<!ATTLIST PresenceOfPhrasingInPhrasingGroup
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Mandatory                     	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Relationship                                           -->
<!-- Specializes: ThingThatCanReferToEntities                      -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: HelpText : String                                  -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: MostRecentFlag : Boolean                           -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Relationship
	( ANY
	| RelationshipOwnedPhrasings
	| RelationshipEntInRel
	| RelationshipUsedTableDependencies
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST Relationship
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	HelpText                      	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	MostRecentFlag                	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: SortingOfEntityByField                                 -->
<!-- Specializes: UseOfFieldByEntity                               -->
<!-- ************************************************************* -->
<!-- Attribute: AscendingFlag : Boolean                            -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: SequenceNumber : UnlimitedInteger                  -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT SortingOfEntityByField
	( ANY
	| Supplier
	)*
	>
<!ATTLIST SortingOfEntityByField
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AscendingFlag                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	SequenceNumber                	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: SubjectObjectEntityPair                                -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT SubjectObjectEntityPair
	( ANY
	| SubjectObjectEntityPairSubjectEntity
	| SubjectObjectEntityPairDefaultRshipDepen
	)*
	>
<!ATTLIST SubjectObjectEntityPair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: SubsetPhrasing                                         -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT SubsetPhrasing
	( ANY
	)*
	>
<!ATTLIST SubsetPhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TableRef                                               -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TableRef
	( ANY
	| TableRefCorrespondenceToDbTable
	)*
	>
<!ATTLIST TableRef
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TableSet                                               -->
<!-- Specializes: Package                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TableSet
	( ANY
	)*
	>
<!ATTLIST TableSet
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ThingThatCanReferToEntities                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ThingThatCanReferToEntities
	( ANY
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST ThingThatCanReferToEntities
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TraitPhrasing                                          -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TraitPhrasing
	( ANY
	)*
	>
<!ATTLIST TraitPhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: UseOfEntityOrEntInRelAsCmdArg                          -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT UseOfEntityOrEntInRelAsCmdArg
	( ANY
	| UseOfEntityOrEntInRelAsCmdArgUsedEntity
	)*
	>
<!ATTLIST UseOfEntityOrEntInRelAsCmdArg
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: UseOfEntityOrEntInRelAsWord                            -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: UsageType : String                                 -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT UseOfEntityOrEntInRelAsWord
	( ANY
	| UseOfEntityOrEntInRelAsWordEntity
	| UseOfEntityOrEntInRelAsWordEntInRel
	)*
	>
<!ATTLIST UseOfEntityOrEntInRelAsWord
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	UsageType                     	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: UseOfFieldByEntity                                     -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT UseOfFieldByEntity
	( ANY
	| Supplier
	)*
	>
<!ATTLIST UseOfFieldByEntity
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: UseOfJoinTableRefByRship                               -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT UseOfJoinTableRefByRship
	( ANY
	| UseOfJoinTableRefByRshipUsedJoinTable
	)*
	>
<!ATTLIST UseOfJoinTableRefByRship
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: UseOfRshipForSubjectObjectEntityPair                   -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT UseOfRshipForSubjectObjectEntityPair
	( ANY
	| UseOfRshipForSubjectObjectEntityPairUsed
	)*
	>
<!ATTLIST UseOfRshipForSubjectObjectEntityPair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: VerbPhrasing                                           -->
<!-- Specializes: Phrasing                                         -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ID : String                                        -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT VerbPhrasing
	( ANY
	| PhrasingOwnedThings
	| ThingThatCanReferToEntitiesEntityReferen
	)*
	>
<!ATTLIST VerbPhrasing
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ID                            	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Word                                                   -->
<!-- Specializes: PhrasingOwnedThing                               -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: IsPrimary : Boolean                                -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: UsageType : Enumeration                            -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: Word : String                                      -->
<!-- ************************************************************* -->
<!ELEMENT Word
	( ANY
	)*
	>
<!ATTLIST Word
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	IsPrimary                     	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	UsageType                     	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	Word                          	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: WordValuePair                                          -->
<!-- Specializes: PhrasingOwnedThing                               -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Val : String                                       -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- Attribute: Word : String                                      -->
<!-- ************************************************************* -->
<!ELEMENT WordValuePair
	( ANY
	)*
	>
<!ATTLIST WordValuePair
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Val                           	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	Word                          	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: ClassifierHasFeatures                            -->
<!-- ************************************************************* -->
<!ELEMENT ClassifierHasFeatures
	( ANY
	| DictionaryEntry
	| DictEntryIrregularity
	)*
	>
<!ATTLIST ClassifierHasFeatures
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: Client                                           -->
<!-- ************************************************************* -->
<!ELEMENT Client
	( ANY
	| PhrasingGroup
	| PresenceOfPhrasingInPhrasingGroup
	)*
	>
<!ATTLIST Client
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CommandArgumentEntityDependencies                -->
<!-- ************************************************************* -->
<!ELEMENT CommandArgumentEntityDependencies
	( ANY
	| UseOfEntityOrEntInRelAsCmdArg
	| CommandArgument
	)*
	>
<!ATTLIST CommandArgumentEntityDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CommandCommandArguments                          -->
<!-- ************************************************************* -->
<!ELEMENT CommandCommandArguments
	( ANY
	| Command
	| CommandArgument
	)*
	>
<!ATTLIST CommandCommandArguments
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CorrespondenceOfFieldRefToEntityFieldRef         -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfFieldRefToEntityFieldRef
	( ANY
	| FieldRef
	| CorrespondenceOfFieldRefToEntity
	)*
	>
<!ATTLIST CorrespondenceOfFieldRefToEntityFieldRef
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CorrespondenceOfFieldToFieldRefSemanticF         -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfFieldToFieldRefSemanticF
	( ANY
	| CorrespondenceOfFieldToFieldRef
	| FieldRef
	)*
	>
<!ATTLIST CorrespondenceOfFieldToFieldRefSemanticF
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CorrespondenceOfTableRefToEntityTableRef         -->
<!-- ************************************************************* -->
<!ELEMENT CorrespondenceOfTableRefToEntityTableRef
	( ANY
	| TableRef
	| CorrespondenceOfTableRefToEntity
	)*
	>
<!ATTLIST CorrespondenceOfTableRefToEntityTableRef
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DatabaseRshipJoinTableRefDependencies            -->
<!-- ************************************************************* -->
<!ELEMENT DatabaseRshipJoinTableRefDependencies
	( ANY
	| DatabaseRship
	| UseOfJoinTableRefByRship
	)*
	>
<!ATTLIST DatabaseRshipJoinTableRefDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: DateResolutionForEntByRshipDateResolving         -->
<!-- ************************************************************* -->
<!ELEMENT DateResolutionForEntByRshipDateResolving
	( ANY
	| DateResolutionForEntByRship
	| Relationship
	)*
	>
<!ATTLIST DateResolutionForEntByRshipDateResolving
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntInRelCommandArgDependencies                   -->
<!-- ************************************************************* -->
<!ELEMENT EntInRelCommandArgDependencies
	( ANY
	| EntInRel
	| UseOfEntityOrEntInRelAsCmdArg
	)*
	>
<!ATTLIST EntInRelCommandArgDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntInRelEntity                                   -->
<!-- ************************************************************* -->
<!ELEMENT EntInRelEntity
	( ANY
	| EntInRel
	| Entity
	)*
	>
<!ATTLIST EntInRelEntity
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntInRelSequenceOfJoinPathItems                  -->
<!-- ************************************************************* -->
<!ELEMENT EntInRelSequenceOfJoinPathItems
	( ANY
	| EntInRel
	| JoinRoleRef
	)*
	>
<!ATTLIST EntInRelSequenceOfJoinPathItems
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityCorrespondencesToTableRefs                 -->
<!-- ************************************************************* -->
<!ELEMENT EntityCorrespondencesToTableRefs
	( ANY
	| CorrespondenceOfTableRefToEntity
	| Entity
	)*
	>
<!ATTLIST EntityCorrespondencesToTableRefs
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityDateResolvingDependency                    -->
<!-- ************************************************************* -->
<!ELEMENT EntityDateResolvingDependency
	( ANY
	| DateResolutionForEntByRship
	| Entity
	)*
	>
<!ATTLIST EntityDateResolvingDependency
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityFieldCorrespondences                       -->
<!-- ************************************************************* -->
<!ELEMENT EntityFieldCorrespondences
	( ANY
	| CorrespondenceOfFieldRefToEntity
	| Entity
	)*
	>
<!ATTLIST EntityFieldCorrespondences
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityOwnedThings                                -->
<!-- ************************************************************* -->
<!ELEMENT EntityOwnedThings
	( ANY
	| Entity
	| EntityOwnedThing
	)*
	>
<!ATTLIST EntityOwnedThings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityPairAsObject                               -->
<!-- ************************************************************* -->
<!ELEMENT EntityPairAsObject
	( ANY
	| Entity
	| SubjectObjectEntityPair
	)*
	>
<!ATTLIST EntityPairAsObject
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: EntityUsedField                                  -->
<!-- ************************************************************* -->
<!ELEMENT EntityUsedField
	( ANY
	| UseOfFieldByEntity
	| Entity
	)*
	>
<!ATTLIST EntityUsedField
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: InclusionOfTableSetInSchemaSemanticTable         -->
<!-- ************************************************************* -->
<!ELEMENT InclusionOfTableSetInSchemaSemanticTable
	( ANY
	| InclusionOfTableSetInSchema
	| TableSet
	)*
	>
<!ATTLIST InclusionOfTableSetInSchemaSemanticTable
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: JoinRoleRefJoinDependencies                      -->
<!-- ************************************************************* -->
<!ELEMENT JoinRoleRefJoinDependencies
	( ANY
	| CorrespondenceOfJoinToJoinRef
	| JoinRoleRef
	)*
	>
<!ATTLIST JoinRoleRefJoinDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PhrasingOwnedThings                              -->
<!-- ************************************************************* -->
<!ELEMENT PhrasingOwnedThings
	( ANY
	| Phrasing
	| PhrasingOwnedThing
	)*
	>
<!ATTLIST PhrasingOwnedThings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PrepPhraseOwnedPrepositions                      -->
<!-- ************************************************************* -->
<!ELEMENT PrepPhraseOwnedPrepositions
	( ANY
	| PrepPhrase
	| Preposition
	)*
	>
<!ATTLIST PrepPhraseOwnedPrepositions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PresenceOfPhrasingInPhrasingGroupPresent         -->
<!-- ************************************************************* -->
<!ELEMENT PresenceOfPhrasingInPhrasingGroupPresent
	( ANY
	| Phrasing
	| PresenceOfPhrasingInPhrasingGroup
	)*
	>
<!ATTLIST PresenceOfPhrasingInPhrasingGroupPresent
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RelationshipEntInRel                             -->
<!-- ************************************************************* -->
<!ELEMENT RelationshipEntInRel
	( ANY
	| EntInRel
	| Relationship
	)*
	>
<!ATTLIST RelationshipEntInRel
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RelationshipOwnedPhrasings                       -->
<!-- ************************************************************* -->
<!ELEMENT RelationshipOwnedPhrasings
	( ANY
	| Relationship
	| Phrasing
	)*
	>
<!ATTLIST RelationshipOwnedPhrasings
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: RelationshipUsedTableDependencies                -->
<!-- ************************************************************* -->
<!ELEMENT RelationshipUsedTableDependencies
	( ANY
	| UseOfJoinTableRefByRship
	| Relationship
	)*
	>
<!ATTLIST RelationshipUsedTableDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SubjectObjectEntityPairDefaultRshipDepen         -->
<!-- ************************************************************* -->
<!ELEMENT SubjectObjectEntityPairDefaultRshipDepen
	( ANY
	| UseOfRshipForSubjectObjectEntityPair
	| SubjectObjectEntityPair
	)*
	>
<!ATTLIST SubjectObjectEntityPairDefaultRshipDepen
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: SubjectObjectEntityPairSubjectEntity             -->
<!-- ************************************************************* -->
<!ELEMENT SubjectObjectEntityPairSubjectEntity
	( ANY
	| Entity
	| SubjectObjectEntityPair
	)*
	>
<!ATTLIST SubjectObjectEntityPairSubjectEntity
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: Supplier                                         -->
<!-- ************************************************************* -->
<!ELEMENT Supplier
	( ANY
	| FieldRef
	| UseOfFieldByEntity
	)*
	>
<!ATTLIST Supplier
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TableRefCorrespondenceToDbTable                  -->
<!-- ************************************************************* -->
<!ELEMENT TableRefCorrespondenceToDbTable
	( ANY
	| CorrespondenceOfTableToTableRef
	| TableRef
	)*
	>
<!ATTLIST TableRefCorrespondenceToDbTable
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ThingThatCanReferToEntitiesEntityReferen         -->
<!-- ************************************************************* -->
<!ELEMENT ThingThatCanReferToEntitiesEntityReferen
	( ANY
	| UseOfEntityOrEntInRelAsWord
	| ThingThatCanReferToEntities
	)*
	>
<!ATTLIST ThingThatCanReferToEntitiesEntityReferen
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: UseOfEntityOrEntInRelAsCmdArgUsedEntity          -->
<!-- ************************************************************* -->
<!ELEMENT UseOfEntityOrEntInRelAsCmdArgUsedEntity
	( ANY
	| Entity
	| UseOfEntityOrEntInRelAsCmdArg
	)*
	>
<!ATTLIST UseOfEntityOrEntInRelAsCmdArgUsedEntity
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: UseOfEntityOrEntInRelAsWordEntInRel              -->
<!-- ************************************************************* -->
<!ELEMENT UseOfEntityOrEntInRelAsWordEntInRel
	( ANY
	| UseOfEntityOrEntInRelAsWord
	| EntInRel
	)*
	>
<!ATTLIST UseOfEntityOrEntInRelAsWordEntInRel
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: UseOfEntityOrEntInRelAsWordEntity                -->
<!-- ************************************************************* -->
<!ELEMENT UseOfEntityOrEntInRelAsWordEntity
	( ANY
	| UseOfEntityOrEntInRelAsWord
	| Entity
	)*
	>
<!ATTLIST UseOfEntityOrEntInRelAsWordEntity
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: UseOfJoinTableRefByRshipUsedJoinTable            -->
<!-- ************************************************************* -->
<!ELEMENT UseOfJoinTableRefByRshipUsedJoinTable
	( ANY
	| TableRef
	| UseOfJoinTableRefByRship
	)*
	>
<!ATTLIST UseOfJoinTableRefByRshipUsedJoinTable
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: UseOfRshipForSubjectObjectEntityPairUsed         -->
<!-- ************************************************************* -->
<!ELEMENT UseOfRshipForSubjectObjectEntityPairUsed
	( ANY
	| Relationship
	| UseOfRshipForSubjectObjectEntityPair
	)*
	>
<!ATTLIST UseOfRshipForSubjectObjectEntityPairUsed
	id	ID	#REQUIRED
>


