7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/tfm.dtd

<!-- ************************************************************* -->
<!-- Data Transformation Elements                                  -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- Describes data transformations, what they do, and what data   -->
<!-- they access                                                   -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: CodeDecodeColumn                                       -->
<!-- Specializes: Column                                           -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: IdentityIncrement : Integer                        -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: Ordinal : UnlimitedInteger                         -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: ValueExpression : String                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeColumn
	( ANY
	)*
	>
<!ATTLIST CodeDecodeColumn
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	AverageLength                 	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	IdentityIncrement             	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	Ordinal                       	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	ValueExpression               	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CodeDecodeSet                                          -->
<!-- Specializes: Enumeration                                      -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeSet
	( ANY
	| CodeDecodeSetDecodeColumn
	| CodeDecodeSetCodeColumn
	| CodeDecodeSetValues
	)*
	>
<!ATTLIST CodeDecodeSet
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: CodeDecodeValue                                        -->
<!-- Specializes: EnumerationLiteral                               -->
<!-- ************************************************************* -->
<!-- Attribute: BeginDate : String                                 -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: DecodeValue : String                               -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EncodeValue : String                               -->
<!-- Attribute: EndDate : String                                   -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: value : String                                     -->
<!-- Attribute: valueLanguage : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeValue
	( ANY
	)*
	>
<!ATTLIST CodeDecodeValue
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	BeginDate                     	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	DecodeValue                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EncodeValue                   	CDATA	#IMPLIED
	EndDate                       	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	value                         	CDATA	#IMPLIED
	valueLanguage                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PackageExecution                                       -->
<!-- Specializes: Element                                          -->
<!-- ************************************************************* -->
<!-- Attribute: Account : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: ExecutionId : String                               -->
<!-- Attribute: ShortExecutionId : UnlimitedInteger                -->
<!-- Attribute: System : String                                    -->
<!-- Attribute: WhenExecuted : String                              -->
<!-- ************************************************************* -->
<!ELEMENT PackageExecution
	( ANY
	| PackageExecutionStepExecutions
	)*
	>
<!ATTLIST PackageExecution
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Account                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	ExecutionId                   	CDATA	#IMPLIED
	ShortExecutionId              	CDATA	#IMPLIED
	System                        	CDATA	#IMPLIED
	WhenExecuted                  	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: StepExecution                                          -->
<!-- Specializes: Element                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: Duration : String                                  -->
<!-- Attribute: Succeeded : Boolean                                -->
<!-- Attribute: WhenEnded : String                                 -->
<!-- Attribute: WhenStarted : String                               -->
<!-- ************************************************************* -->
<!ELEMENT StepExecution
	( ANY
	| StepHasExecutions
	)*
	>
<!ATTLIST StepExecution
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	Duration                      	CDATA	#IMPLIED
	Succeeded                     	CDATA	#IMPLIED
	WhenEnded                     	CDATA	#IMPLIED
	WhenStarted                   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: StepPrecedence                                         -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: PrecedenceBasis : Enumeration                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT StepPrecedence
	( ANY
	| StepPrecedencePrecedingStep
	)*
	>
<!ATTLIST StepPrecedence
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	PrecedenceBasis               	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TemporaryField                                         -->
<!-- Specializes: Attribute                                        -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT TemporaryField
	( ANY
	)*
	>
<!ATTLIST TemporaryField
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformableObjectSet                                 -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformableObjectSet
	( ANY
	| TransformableObjectSetTransformObjects
	)*
	>
<!ATTLIST TransformableObjectSet
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Transformation                                         -->
<!-- Specializes: Method                                           -->
<!-- ************************************************************* -->
<!-- Attribute: body : String                                      -->
<!-- Attribute: bodyLanguage : String                              -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: FunctionExpression : String                        -->
<!-- Attribute: IsControl : Boolean                                -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Language : String                                  -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Transformation
	( ANY
	| TransformationSource
	| TransformationTarget
	| TransformationDependencies
	| TransformationConversions
	)*
	>
<!ATTLIST Transformation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	body                          	CDATA	#IMPLIED
	bodyLanguage                  	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	FunctionExpression            	CDATA	#IMPLIED
	IsControl                     	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Language                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationConversion                               -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationConversion
	( ANY
	| TransformationConversionCodeDecodeSet
	)*
	>
<!ATTLIST TransformationConversion
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationDependency                               -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationDependency
	( ANY
	)*
	>
<!ATTLIST TransformationDependency
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationPackage                                  -->
<!-- Specializes: Package, Module, SummaryInformation, ColumnSet,  -->
<!-- ConnectionSet                                                 -->
<!-- ************************************************************* -->
<!-- Attribute: Author : String                                    -->
<!-- Attribute: Caption : String                                   -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: CreateByUser :                                     -->
<!-- Attribute: CreationDate : String                              -->
<!-- Attribute: description : String                               -->
<!-- Attribute: DescriptionContext : String                        -->
<!-- Attribute: EstimatedRows : String                             -->
<!-- Attribute: EstimatedSize : String                             -->
<!-- Attribute: HelpContext : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: ModifyByUser :                                     -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: OwnerInformation : String                          -->
<!-- Attribute: ProjectedGrowthPeriod : Enumeration                -->
<!-- Attribute: ProjectGrowthRate : String                         -->
<!-- Attribute: Status : String                                    -->
<!-- Attribute: VersionCreateTime :                                -->
<!-- Attribute: VersionModifyTime :                                -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationPackage
	( ANY
	| TransformationPackageOwnedSteps
	| TransformationPackageOwnedTasks
	| TransformationPackageExecutions
	)*
	>
<!ATTLIST TransformationPackage
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Author                        	CDATA	#IMPLIED
	Caption                       	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	CreateByUser                  	CDATA	#IMPLIED
	CreationDate                  	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	DescriptionContext            	CDATA	#IMPLIED
	EstimatedRows                 	CDATA	#IMPLIED
	EstimatedSize                 	CDATA	#IMPLIED
	HelpContext                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	ModifyByUser                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	OwnerInformation              	CDATA	#IMPLIED
	ProjectedGrowthPeriod         	CDATA	#IMPLIED
	ProjectGrowthRate             	CDATA	#IMPLIED
	Status                        	CDATA	#IMPLIED
	VersionCreateTime             	CDATA	#IMPLIED
	VersionModifyTime             	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationStep                                     -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationStep
	( ANY
	| TransformationStepSuceedingStepFor
	| TransformationStepTask
	)*
	>
<!ATTLIST TransformationStep
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationTask                                     -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Language : String                                  -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTask
	( ANY
	| TransformationTaskOriginalTransformation
	| TransformationTaskTransformations
	| TransformationTaskDependencies
	)*
	>
<!ATTLIST TransformationTask
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Language                      	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TransformationTaskDependency                           -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Type : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTaskDependency
	( ANY
	)*
	>
<!ATTLIST TransformationTaskDependency
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Type                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: CodeDecodeSetCodeColumn                          -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeSetCodeColumn
	( ANY
	| CodeDecodeSet
	| CodeDecodeColumn
	)*
	>
<!ATTLIST CodeDecodeSetCodeColumn
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CodeDecodeSetDecodeColumn                        -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeSetDecodeColumn
	( ANY
	| CodeDecodeSet
	| CodeDecodeColumn
	)*
	>
<!ATTLIST CodeDecodeSetDecodeColumn
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: CodeDecodeSetValues                              -->
<!-- ************************************************************* -->
<!ELEMENT CodeDecodeSetValues
	( ANY
	| CodeDecodeSet
	| CodeDecodeValue
	)*
	>
<!ATTLIST CodeDecodeSetValues
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PackageExecutionStepExecutions                   -->
<!-- ************************************************************* -->
<!ELEMENT PackageExecutionStepExecutions
	( ANY
	| PackageExecution
	| StepExecution
	)*
	>
<!ATTLIST PackageExecutionStepExecutions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: StepHasExecutions                                -->
<!-- ************************************************************* -->
<!ELEMENT StepHasExecutions
	( ANY
	| TransformationStep
	| StepExecution
	)*
	>
<!ATTLIST StepHasExecutions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: StepPrecedencePrecedingStep                      -->
<!-- ************************************************************* -->
<!ELEMENT StepPrecedencePrecedingStep
	( ANY
	| StepPrecedence
	| TransformationStep
	)*
	>
<!ATTLIST StepPrecedencePrecedingStep
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationConversionCodeDecodeSet            -->
<!-- ************************************************************* -->
<!ELEMENT TransformationConversionCodeDecodeSet
	( ANY
	| TransformationConversion
	| CodeDecodeSet
	)*
	>
<!ATTLIST TransformationConversionCodeDecodeSet
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationConversions                        -->
<!-- ************************************************************* -->
<!ELEMENT TransformationConversions
	( ANY
	| TransformationConversion
	| Transformation
	)*
	>
<!ATTLIST TransformationConversions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationDependencies                       -->
<!-- ************************************************************* -->
<!ELEMENT TransformationDependencies
	( ANY
	| TransformationDependency
	| Transformation
	)*
	>
<!ATTLIST TransformationDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationPackageExecutions                  -->
<!-- ************************************************************* -->
<!ELEMENT TransformationPackageExecutions
	( ANY
	| TransformationPackage
	| PackageExecution
	)*
	>
<!ATTLIST TransformationPackageExecutions
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationPackageOwnedSteps                  -->
<!-- ************************************************************* -->
<!ELEMENT TransformationPackageOwnedSteps
	( ANY
	| TransformationPackage
	| TransformationStep
	)*
	>
<!ATTLIST TransformationPackageOwnedSteps
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationPackageOwnedTasks                  -->
<!-- ************************************************************* -->
<!ELEMENT TransformationPackageOwnedTasks
	( ANY
	| TransformationPackage
	| TransformationTask
	)*
	>
<!ATTLIST TransformationPackageOwnedTasks
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationSource                             -->
<!-- ************************************************************* -->
<!ELEMENT TransformationSource
	( ANY
	| Transformation
	| TransformableObjectSet
	)*
	>
<!ATTLIST TransformationSource
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationStepSuceedingStepFor               -->
<!-- ************************************************************* -->
<!ELEMENT TransformationStepSuceedingStepFor
	( ANY
	| StepPrecedence
	| TransformationStep
	)*
	>
<!ATTLIST TransformationStepSuceedingStepFor
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationStepTask                           -->
<!-- ************************************************************* -->
<!ELEMENT TransformationStepTask
	( ANY
	| TransformationStep
	| TransformationTask
	)*
	>
<!ATTLIST TransformationStepTask
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationTarget                             -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTarget
	( ANY
	| TransformableObjectSet
	| Transformation
	)*
	>
<!ATTLIST TransformationTarget
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationTaskDependencies                   -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTaskDependencies
	( ANY
	| TransformationTask
	| TransformationTaskDependency
	)*
	>
<!ATTLIST TransformationTaskDependencies
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationTaskOriginalTransformation         -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTaskOriginalTransformation
	( ANY
	| TransformationTask
	| TransformationTask
	)*
	>
<!ATTLIST TransformationTaskOriginalTransformation
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: TransformationTaskTransformations                -->
<!-- ************************************************************* -->
<!ELEMENT TransformationTaskTransformations
	( ANY
	| TransformationTask
	| Transformation
	)*
	>
<!ATTLIST TransformationTaskTransformations
	id	ID	#REQUIRED
>


