7.6.00.37/V76_00_37/MaxDB_ORG/sys/src/SAPDB/Scripting/Resource/loaderdoc/doc/oim/umx.dtd

<!-- ************************************************************* -->
<!-- UML Extensions                                                -->
<!-- Version: 1.0                                                  -->
<!-- Date: 14 September 1999                                       -->
<!-- Author: Meta Data Coalition (MDC)                             -->
<!-- Reference: http://www.mdcinfo.com                             -->
<!-- ************************************************************* -->
<!-- Contains general purpose interfaces extending UML concepts,   -->
<!-- relevant across a number of information models                -->
<!-- ************************************************************* -->

<!-- ************************************************************* -->
<!-- Class: Application                                            -->
<!-- Specializes: Component                                        -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Application
	( ANY
	)*
	>
<!ATTLIST Application
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: AssociationRoleProjection                              -->
<!-- Specializes: Projection                                       -->
<!-- ************************************************************* -->
<!-- Attribute: Alignment : Enumeration                            -->
<!-- Attribute: BackgroundColor : UnlimitedInteger                 -->
<!-- Attribute: LineProperties.Color : UnlimitedInteger            -->
<!-- Attribute: Font.Color : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: FontSize : Integer                                 -->
<!-- Attribute: Name : String                                      -->
<!-- Attribute: Projection.Style : String                          -->
<!-- Attribute: LineProperties.Style : String                      -->
<!-- Attribute: Font.Style : Enumeration                           -->
<!-- Attribute: Width : Integer                                    -->
<!-- ************************************************************* -->
<!ELEMENT AssociationRoleProjection
	( ANY
	| AssociationRoleProjectionMultiplicityPro
	)*
	>
<!ATTLIST AssociationRoleProjection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Alignment                     	CDATA	#IMPLIED
	BackgroundColor               	CDATA	#IMPLIED
	LineProperties.Color          	CDATA	#IMPLIED
	Font.Color                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	FontSize                      	CDATA	#IMPLIED
	Name                          	CDATA	#IMPLIED
	Projection.Style              	CDATA	#IMPLIED
	LineProperties.Style          	CDATA	#IMPLIED
	Font.Style                    	CDATA	#IMPLIED
	Width                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Attribute                                              -->
<!-- Specializes: Attribute                                        -->
<!-- ************************************************************* -->
<!-- Attribute: AverageLength : UnlimitedInteger                   -->
<!-- Attribute: changeability : Enumeration                        -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: initialValue : String                              -->
<!-- Attribute: initialValueLanguage : String                      -->
<!-- Attribute: IsConstant : Boolean                               -->
<!-- Attribute: IsNullable : Boolean                               -->
<!-- Attribute: IsReadOnly : Boolean                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: Length : UnlimitedInteger                          -->
<!-- Attribute: MinimumLength : UnlimitedInteger                   -->
<!-- Attribute: multiplicity : String                              -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: NumericPrecision : Integer                         -->
<!-- Attribute: NumericScale : Integer                             -->
<!-- Attribute: OctetLength : UnlimitedInteger                     -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: targetScope : Enumeration                          -->
<!-- Attribute: TimePrecision : UnlimitedInteger                   -->
<!-- Attribute: TypeExpression : String                            -->
<!-- Attribute: TypeExpressionLanguage : String                    -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT Attribute
	( ANY
	)*
	>
<!ATTLIST Attribute
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	AverageLength                 	CDATA	#IMPLIED
	changeability                 	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	initialValue                  	CDATA	#IMPLIED
	initialValueLanguage          	CDATA	#IMPLIED
	IsConstant                    	CDATA	#IMPLIED
	IsNullable                    	CDATA	#IMPLIED
	IsReadOnly                    	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	Length                        	CDATA	#IMPLIED
	MinimumLength                 	CDATA	#IMPLIED
	multiplicity                  	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	NumericPrecision              	CDATA	#IMPLIED
	NumericScale                  	CDATA	#IMPLIED
	OctetLength                   	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	targetScope                   	CDATA	#IMPLIED
	TimePrecision                 	CDATA	#IMPLIED
	TypeExpression                	CDATA	#IMPLIED
	TypeExpressionLanguage        	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Call                                                   -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Call
	( ANY
	)*
	>
<!ATTLIST Call
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ClassDiagram                                           -->
<!-- Specializes: Diagram                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ClassDiagram
	( ANY
	| ViewElementProjections
	)*
	>
<!ATTLIST ClassDiagram
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Comment                                                -->
<!-- Specializes: Comment                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: Value : String                                     -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Comment
	( ANY
	)*
	>
<!ATTLIST Comment
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	Value                         	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ComponentDiagram                                       -->
<!-- Specializes: Diagram                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ComponentDiagram
	( ANY
	| ViewElementProjections
	)*
	>
<!ATTLIST ComponentDiagram
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Derivation                                             -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Derivation
	( ANY
	)*
	>
<!ATTLIST Derivation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Diagram                                                -->
<!-- Specializes: ViewElement                                      -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Diagram
	( ANY
	| ViewElementProjections
	)*
	>
<!ATTLIST Diagram
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: File                                                   -->
<!-- Specializes: Component                                        -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT File
	( ANY
	)*
	>
<!ATTLIST File
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Font                                                   -->
<!-- ************************************************************* -->
<!-- Attribute: Alignment : Enumeration                            -->
<!-- Attribute: Color : UnlimitedInteger                           -->
<!-- Attribute: FontSize : Integer                                 -->
<!-- Attribute: Name : String                                      -->
<!-- Attribute: Style : Enumeration                                -->
<!-- ************************************************************* -->
<!ELEMENT Font
	( ANY
	)*
	>
<!ATTLIST Font
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Alignment                     	CDATA	#IMPLIED
	Color                         	CDATA	#IMPLIED
	FontSize                      	CDATA	#IMPLIED
	Name                          	CDATA	#IMPLIED
	Style                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: GraphicElement                                         -->
<!-- Specializes: PresentationElement                              -->
<!-- ************************************************************* -->
<!-- Attribute: BackgroundColor : UnlimitedInteger                 -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- ************************************************************* -->
<!ELEMENT GraphicElement
	( ANY
	)*
	>
<!ATTLIST GraphicElement
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	BackgroundColor               	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Import                                                 -->
<!-- Specializes: Dependency                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Import
	( ANY
	)*
	>
<!ATTLIST Import
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Library                                                -->
<!-- Specializes: Component                                        -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Library
	( ANY
	)*
	>
<!ATTLIST Library
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Line                                                   -->
<!-- Specializes: PointContainer, LineProperties                   -->
<!-- ************************************************************* -->
<!-- Attribute: Color : UnlimitedInteger                           -->
<!-- Attribute: Style : String                                     -->
<!-- Attribute: Width : Integer                                    -->
<!-- ************************************************************* -->
<!ELEMENT Line
	( ANY
	)*
	>
<!ATTLIST Line
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Color                         	CDATA	#IMPLIED
	Style                         	CDATA	#IMPLIED
	Width                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: LineContainer                                          -->
<!-- ************************************************************* -->
<!ELEMENT LineContainer
	( ANY
	| LineContainerLines
	)*
	>
<!ATTLIST LineContainer
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	>

<!-- ************************************************************* -->
<!-- Class: LineProperties                                         -->
<!-- ************************************************************* -->
<!-- Attribute: Color : UnlimitedInteger                           -->
<!-- Attribute: Style : String                                     -->
<!-- Attribute: Width : Integer                                    -->
<!-- ************************************************************* -->
<!ELEMENT LineProperties
	( ANY
	)*
	>
<!ATTLIST LineProperties
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Color                         	CDATA	#IMPLIED
	Style                         	CDATA	#IMPLIED
	Width                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Module                                                 -->
<!-- Specializes: Component, ModuleSpec                            -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Module
	( ANY
	)*
	>
<!ATTLIST Module
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ModuleOperation                                        -->
<!-- Specializes: Operation                                        -->
<!-- ************************************************************* -->
<!-- Attribute: Body : String                                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: concurrency : Enumeration                          -->
<!-- Attribute: description : String                               -->
<!-- Attribute: EntryIDOrdinal : UnlimitedInteger                  -->
<!-- Attribute: EntryIDString : String                             -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isQuery : Boolean                                  -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: ownerScope : Enumeration                           -->
<!-- Attribute: specification : String                             -->
<!-- Attribute: Feature.visibility : Enumeration                   -->
<!-- Attribute: ElementOwnership.visibility : Enumeration          -->
<!-- ************************************************************* -->
<!ELEMENT ModuleOperation
	( ANY
	)*
	>
<!ATTLIST ModuleOperation
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Body                          	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	concurrency                   	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	EntryIDOrdinal                	CDATA	#IMPLIED
	EntryIDString                 	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isQuery                       	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	ownerScope                    	CDATA	#IMPLIED
	specification                 	CDATA	#IMPLIED
	Feature.visibility            	CDATA	#IMPLIED
	ElementOwnership.visibility   	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ModuleSpec                                             -->
<!-- Specializes: Classifier                                       -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ModuleSpec
	( ANY
	)*
	>
<!ATTLIST ModuleSpec
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: MultiplicityProjection                                 -->
<!-- Specializes: Font, PointContainer                             -->
<!-- ************************************************************* -->
<!-- Attribute: Alignment : Enumeration                            -->
<!-- Attribute: Color : UnlimitedInteger                           -->
<!-- Attribute: FontSize : Integer                                 -->
<!-- Attribute: Name : String                                      -->
<!-- Attribute: Style : Enumeration                                -->
<!-- ************************************************************* -->
<!ELEMENT MultiplicityProjection
	( ANY
	)*
	>
<!ATTLIST MultiplicityProjection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Alignment                     	CDATA	#IMPLIED
	Color                         	CDATA	#IMPLIED
	FontSize                      	CDATA	#IMPLIED
	Name                          	CDATA	#IMPLIED
	Style                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Point                                                  -->
<!-- ************************************************************* -->
<!-- Attribute: X : UnlimitedInteger                               -->
<!-- Attribute: Y : UnlimitedInteger                               -->
<!-- Attribute: Z : UnlimitedInteger                               -->
<!-- ************************************************************* -->
<!ELEMENT Point
	( ANY
	)*
	>
<!ATTLIST Point
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	X                             	CDATA	#IMPLIED
	Y                             	CDATA	#IMPLIED
	Z                             	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: PointContainer                                         -->
<!-- ************************************************************* -->
<!ELEMENT PointContainer
	( ANY
	| PointContainerPoints
	)*
	>
<!ATTLIST PointContainer
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	>

<!-- ************************************************************* -->
<!-- Class: Project                                                -->
<!-- Specializes: Package                                          -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isAbstract : Boolean                               -->
<!-- Attribute: isLeaf : Boolean                                   -->
<!-- Attribute: isRoot : Boolean                                   -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT Project
	( ANY
	)*
	>
<!ATTLIST Project
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isAbstract                    	CDATA	#IMPLIED
	isLeaf                        	CDATA	#IMPLIED
	isRoot                        	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: Projection                                             -->
<!-- Specializes: GraphicElement, Font, LineProperties             -->
<!-- ************************************************************* -->
<!-- Attribute: Alignment : Enumeration                            -->
<!-- Attribute: BackgroundColor : UnlimitedInteger                 -->
<!-- Attribute: LineProperties.Color : UnlimitedInteger            -->
<!-- Attribute: Font.Color : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: FontSize : Integer                                 -->
<!-- Attribute: Name : String                                      -->
<!-- Attribute: Projection.Style : String                          -->
<!-- Attribute: LineProperties.Style : String                      -->
<!-- Attribute: Font.Style : Enumeration                           -->
<!-- Attribute: Width : Integer                                    -->
<!-- ************************************************************* -->
<!ELEMENT Projection
	( ANY
	| ProjectionPoints
	)*
	>
<!ATTLIST Projection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Alignment                     	CDATA	#IMPLIED
	BackgroundColor               	CDATA	#IMPLIED
	LineProperties.Color          	CDATA	#IMPLIED
	Font.Color                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	FontSize                      	CDATA	#IMPLIED
	Name                          	CDATA	#IMPLIED
	Projection.Style              	CDATA	#IMPLIED
	LineProperties.Style          	CDATA	#IMPLIED
	Font.Style                    	CDATA	#IMPLIED
	Width                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: RelationshipProjection                                 -->
<!-- Specializes: Projection, LineContainer                        -->
<!-- ************************************************************* -->
<!-- Attribute: Alignment : Enumeration                            -->
<!-- Attribute: BackgroundColor : UnlimitedInteger                 -->
<!-- Attribute: LineProperties.Color : UnlimitedInteger            -->
<!-- Attribute: Font.Color : UnlimitedInteger                      -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: FontSize : Integer                                 -->
<!-- Attribute: Name : String                                      -->
<!-- Attribute: Projection.Style : String                          -->
<!-- Attribute: LineProperties.Style : String                      -->
<!-- Attribute: Font.Style : Enumeration                           -->
<!-- Attribute: Width : Integer                                    -->
<!-- ************************************************************* -->
<!ELEMENT RelationshipProjection
	( ANY
	)*
	>
<!ATTLIST RelationshipProjection
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	Alignment                     	CDATA	#IMPLIED
	BackgroundColor               	CDATA	#IMPLIED
	LineProperties.Color          	CDATA	#IMPLIED
	Font.Color                    	CDATA	#IMPLIED
	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	FontSize                      	CDATA	#IMPLIED
	Name                          	CDATA	#IMPLIED
	Projection.Style              	CDATA	#IMPLIED
	LineProperties.Style          	CDATA	#IMPLIED
	Font.Style                    	CDATA	#IMPLIED
	Width                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TaggedValue                                            -->
<!-- Specializes: TaggedValue                                      -->
<!-- ************************************************************* -->
<!-- Attribute: tag : String                                       -->
<!-- Attribute: value : String                                     -->
<!-- ************************************************************* -->
<!ELEMENT TaggedValue
	( ANY
	)*
	>
<!ATTLIST TaggedValue
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	tag                           	CDATA	#IMPLIED
	value                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: TaggedValueSet                                         -->
<!-- Specializes: TaggedValue                                      -->
<!-- ************************************************************* -->
<!-- Attribute: tag : String                                       -->
<!-- Attribute: value : String                                     -->
<!-- ************************************************************* -->
<!ELEMENT TaggedValueSet
	( ANY
	)*
	>
<!ATTLIST TaggedValueSet
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	tag                           	CDATA	#IMPLIED
	value                         	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: VariantTaggedValue                                     -->
<!-- Specializes: TaggedValue                                      -->
<!-- ************************************************************* -->
<!-- Attribute: tag : String                                       -->
<!-- Attribute: value : String                                     -->
<!-- Attribute: VariantValue : String                              -->
<!-- ************************************************************* -->
<!ELEMENT VariantTaggedValue
	( ANY
	)*
	>
<!ATTLIST VariantTaggedValue
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	tag                           	CDATA	#IMPLIED
	value                         	CDATA	#IMPLIED
	VariantValue                  	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Class: ViewElement                                            -->
<!-- Specializes: ModelElement                                     -->
<!-- ************************************************************* -->
<!-- Attribute: comments : String                                  -->
<!-- Attribute: description : String                               -->
<!-- Attribute: isSpecification : Boolean                          -->
<!-- Attribute: name : String                                      -->
<!-- Attribute: visibility : Enumeration                           -->
<!-- ************************************************************* -->
<!ELEMENT ViewElement
	( ANY
	| ViewElementProjections
	)*
	>
<!ATTLIST ViewElement
	id                           	ID	#IMPLIED
	objid                        	CDATA	#IMPLIED
	href                         	IDREF	#IMPLIED
	supertype                    	CDATA	#IMPLIED
	seqno                        	CDATA	#IMPLIED
	label                        	CDATA	#IMPLIED

	comments                      	CDATA	#IMPLIED
	description                   	CDATA	#IMPLIED
	isSpecification               	CDATA	#IMPLIED
	name                          	CDATA	#IMPLIED
	visibility                    	CDATA	#IMPLIED
	>

<!-- ************************************************************* -->
<!-- Association: AssociationRoleProjectionMultiplicityPro         -->
<!-- ************************************************************* -->
<!ELEMENT AssociationRoleProjectionMultiplicityPro
	( ANY
	| AssociationRoleProjection
	| MultiplicityProjection
	)*
	>
<!ATTLIST AssociationRoleProjectionMultiplicityPro
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: LineContainerLines                               -->
<!-- ************************************************************* -->
<!ELEMENT LineContainerLines
	( ANY
	| LineContainer
	| Line
	)*
	>
<!ATTLIST LineContainerLines
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: PointContainerPoints                             -->
<!-- ************************************************************* -->
<!ELEMENT PointContainerPoints
	( ANY
	| PointContainer
	| Point
	)*
	>
<!ATTLIST PointContainerPoints
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ProjectionPoints                                 -->
<!-- ************************************************************* -->
<!ELEMENT ProjectionPoints
	( ANY
	| Projection
	| Point
	)*
	>
<!ATTLIST ProjectionPoints
	id	ID	#REQUIRED
>

<!-- ************************************************************* -->
<!-- Association: ViewElementProjections                           -->
<!-- ************************************************************* -->
<!ELEMENT ViewElementProjections
	( ANY
	| Projection
	| ViewElement
	)*
	>
<!ATTLIST ViewElementProjections
	id	ID	#REQUIRED
>


