7.6.00.32/V76_00_32/MaxDB_ORG/sys/src/SAPDB/Oms/OMS_CppBaseDeclExt.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="CppApplInterface"
  xmlns:cai="CppApplInterface"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">


<!-- include base schema declarations -->

<xsd:include schemaLocation="CppBaseDecl.xsd"/>


<!-- general enum declaration -->

<xsd:complexType name="Cpp_GenEnum_Member">
  <xsd:sequence>
    <xsd:element name="EXPR" minOccurs="0" maxOccurs="1">
      <xsd:complexType>
        <xsd:group ref="cai:Cpp_Const_Expr"
                   minOccurs="1" maxOccurs="2"/>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="NAME"       type="xsd:string" use="required"/>
  <xsd:attribute name="VALUE"      type="xsd:int"    use="optional"/>
  <xsd:attribute name="EXPRESSION" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="Cpp_GenEnum">
  <xsd:sequence>
    <xsd:element name="MEMBER" type="cai:Cpp_GenEnum_Member"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="NAME" type="xsd:string" use="optional"/>
</xsd:complexType>


<!-- class member declaration -->

<xsd:complexType name="Cpp_Class_Member">
  <xsd:complexContent>
    <xsd:extension base="cai:Cpp_Struct_Member">
      <xsd:attribute name="CONST"  type="xsd:string" use="optional" default="NO"/>
      <xsd:attribute name="STATIC" type="xsd:string" use="optional" default="NO"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- pointer member declaration -->

<xsd:complexType name="Cpp_Pointer_Member">
  <xsd:attribute name="NAME"     type="xsd:string" use="required"/>
  <xsd:attribute name="TYPE"     type="xsd:string" use="required"/>
  <xsd:attribute name="CONSTVAL" type="xsd:string" use="optional" default="NO"/>
  <xsd:attribute name="CONSTPTR" type="xsd:string" use="optional" default="NO"/>
</xsd:complexType>


<!-- OID member declaration -->

<xsd:complexType name="Cpp_OmsOid_Member">
  <xsd:sequence>
    <xsd:element name="CLASSINSTANCE" type="cai:Cpp_Templ_Type_Param"
                 minOccurs="1" maxOccurs="1"/>
  </xsd:sequence>
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="DIMENSION" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="Cpp_OmsVarOid_Member">
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="DIMENSION" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="Cpp_OmsExtOid_Member">
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="DIMENSION" type="xsd:string" use="optional"/>
</xsd:complexType>


<!-- class template member declaration -->

<xsd:complexType name="Cpp_Templ_Type_Param">
  <xsd:attribute name="TYPE" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Templ_Value_Param">
  <xsd:attribute name="VALUE" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:group name="Cpp_Templ_Instance_Params">
  <xsd:sequence>
    <xsd:element name="CLASSINSTANCE" type="cai:Cpp_Templ_Type_Param"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="INTINSTANCE"   type="cai:Cpp_Templ_Value_Param"
                 minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="Cpp_Class_Templ_Member">
  <xsd:group ref="cai:Cpp_Templ_Instance_Params"
             minOccurs="1" maxOccurs="unbounded"/>
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="TEMPLATE"  type="xsd:string" use="required"/>
  <xsd:attribute name="DIMENSION" type="xsd:string" use="optional"/>
</xsd:complexType>


<!-- bit field declaration -->

<xsd:complexType name="Cpp_Bit_Field">
  <xsd:attribute name="NAME"   type="xsd:string"      use="required"/>
  <xsd:attribute name="BITCNT" type="xsd:unsignedInt" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Bit_Field_Set">
  <xsd:sequence>
    <xsd:element name="FIELD" type="cai:Cpp_Bit_Field"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="TYPE" type="xsd:string"      use="required"/>
  <xsd:attribute name="SIZE" type="xsd:unsignedInt" use="required"/>
</xsd:complexType>


<!-- class declaration section declaration -->

<xsd:group name="Cpp_Class_Decl_Section_Content">
  <xsd:sequence>
    <xsd:element name="CLASSMEMBER"  type="cai:Cpp_Class_Member"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="OIDMEMBER"    type="cai:Cpp_OmsOid_Member"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="VAROIDMEMBER" type="cai:Cpp_OmsVarOid_Member"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="EXTOIDMEMBER" type="cai:Cpp_OmsExtOid_Member"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="TEMPLMEMBER"  type="cai:Cpp_Class_Templ_Member"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="BITFIELDS"    type="cai:Cpp_Bit_Field_Set"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="CPP"          type="cai:IDL_Cpp_Quote"
                 minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="Cpp_Class_Decl_Section">
  <xsd:group ref="cai:Cpp_Class_Decl_Section_Content"
             minOccurs="1" maxOccurs="unbounded"/>
  <xsd:attribute name="ACCESSTYPE" type="xsd:string" use="required"/>
</xsd:complexType>


<!-- base class declaration -->

<xsd:complexType name="Cpp_Base_Class">
  <xsd:attribute name="BASECLASS" type="xsd:string" use="required"/>
  <xsd:attribute name="TYPE"      type="xsd:string" use="required"/>
</xsd:complexType>


<!-- friend class declaration -->

<xsd:complexType name="Cpp_Class_Friend">
  <xsd:attribute name="NAME" type="xsd:string" use="required"/>
</xsd:complexType>


<!-- class declaration -->

<xsd:complexType name="Cpp_Class">
  <xsd:sequence>
    <xsd:element name="DERIVEFROM" type="cai:Cpp_Base_Class"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="FRIEND"     type="cai:Cpp_Class_Friend"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="SECTION"    type="cai:Cpp_Class_Decl_Section"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="NAME"         type="xsd:string" use="required"/>
  <xsd:attribute name="EXTENSION"    type="xsd:string" use="optional"/>
  <xsd:attribute name="GENDEFCONSTR" type="xsd:string" use="optional"/>
</xsd:complexType>


<!-- persistent class declaration -->

<xsd:complexType name="Cpp_Pers_Class_Index_Member">
  <xsd:attribute name="NAME" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Pers_Class_Index">
  <xsd:sequence>
    <xsd:element name="MEMBER" type="cai:Cpp_Pers_Class_Index_Member"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="ID" type="xsd:int" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Pers_Class_Key">
  <xsd:sequence>
    <xsd:element name="MEMBER" type="cai:Cpp_Pers_Class_Index_Member"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="Cpp_Pers_Class_Size">
  <xsd:attribute name="VALUE" type="xsd:unsignedInt" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Pers_Class">
  <xsd:complexContent>
    <xsd:extension base="cai:Cpp_Class">
      <xsd:sequence>
        <xsd:element name="SIZE"  type="cai:Cpp_Pers_Class_Size"
                     minOccurs="1" maxOccurs="1"/>
        <xsd:element name="KEY" type="cai:Cpp_Pers_Class_Key"
                     minOccurs="0" maxOccurs="1"/>
        <xsd:element name="INDEX" type="cai:Cpp_Pers_Class_Index"
                     minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="ID"            type="xsd:string" use="required"/>
      <xsd:attribute name="IDENUM"        type="xsd:string" use="optional"/>
      <xsd:attribute name="PERSBASECLASS" type="xsd:string" use="optional"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- persistent keyed class declaration -->

<xsd:complexType name="Cpp_Pers_Keyed_Class">
  <xsd:complexContent>
    <xsd:extension base="cai:Cpp_Class">
      <xsd:sequence>
        <xsd:element name="SIZE"  type="cai:Cpp_Pers_Class_Size"
                     minOccurs="1" maxOccurs="1"/>
        <xsd:element name="INDEX" type="cai:Cpp_Pers_Class_Index"
                     minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="ID"       type="xsd:string" use="required"/>
      <xsd:attribute name="IDENUM"   type="xsd:string" use="optional"/>
      <xsd:attribute name="KEYCLASS" type="xsd:string" use="required"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- template class declaration -->

<xsd:complexType name="Cpp_Templ_Class_Param">
  <xsd:attribute name="IDENTIFIER" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Templ_Int_Param">
  <xsd:attribute name="INTSYNONYM" type="xsd:string" use="required"/>
  <xsd:attribute name="IDENTIFIER" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:group name="Cpp_Templ_Param_Group">
  <xsd:sequence>
    <xsd:element name="CLASSPARAM" type="cai:Cpp_Templ_Class_Param"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="INTPARAM"   type="cai:Cpp_Templ_Int_Param"
                 minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="Cpp_Templ_Params">
  <xsd:group ref="cai:Cpp_Templ_Param_Group"
             minOccurs="1" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:complexType name="Cpp_Templ_Class">
  <xsd:sequence>
    <xsd:element name="TEMPLPARAMS" type="cai:Cpp_Templ_Params"
                 minOccurs="1" maxOccurs="1"/>
    <xsd:element name="DERIVEFROM" type="cai:Cpp_Base_Class"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="FRIEND"      type="cai:Cpp_Class_Friend"
                 minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="SECTION"     type="cai:Cpp_Class_Decl_Section"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="EXTENSION" type="xsd:string" use="optional"/>
</xsd:complexType>


<!-- template instantiation declaration -->

<xsd:complexType name="Cpp_Templ_Instantiation">
  <xsd:group ref="cai:Cpp_Templ_Instance_Params"
             minOccurs="1" maxOccurs="unbounded"/>
  <xsd:attribute name="TEMPLATE" type="xsd:string" use="required"/>
  <xsd:attribute name="TYPE"     type="xsd:string" use="required"/>
</xsd:complexType>


<!-- persistent template class declaration -->

<xsd:group name="Cpp_Pers_Templ_SizeExpr">
  <xsd:sequence>
    <xsd:element name="ADD"    type="xsd:string"
                 minOccurs="0" maxOccurs="1"/>
    <xsd:element name="SUB"    type="xsd:string"
                 minOccurs="0" maxOccurs="1"/>
    <xsd:element name="MUL"    type="xsd:string"
                 minOccurs="0" maxOccurs="1"/>
    <xsd:element name="DIV"    type="xsd:string"
                 minOccurs="0" maxOccurs="1"/>
    <xsd:element name="FIXED"  type="xsd:int"
                 minOccurs="0" maxOccurs="2"/>
    <xsd:element name="IDENT"  type="xsd:string"
                 minOccurs="0" maxOccurs="2"/>
    <xsd:element name="SIZEOF" type="xsd:string"
                 minOccurs="0" maxOccurs="2"/>
    <xsd:element name="EXPR"
                 minOccurs="0" maxOccurs="2">
      <xsd:complexType>
        <xsd:group ref="cai:Cpp_Pers_Templ_SizeExpr"
                   minOccurs="0" maxOccurs="2"/>
      </xsd:complexType>  
    </xsd:element>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="Cpp_Pers_Templ_Class">
  <xsd:complexContent>
    <xsd:extension base="cai:Cpp_Templ_Class">
      <xsd:sequence>
        <xsd:element name="SIZE">
          <xsd:complexType>
            <xsd:group ref="cai:Cpp_Pers_Templ_SizeExpr"
                       minOccurs="1" maxOccurs="1"/>
          </xsd:complexType>  
        </xsd:element>
        <xsd:element name="KEY" type="cai:Cpp_Pers_Class_Key"
                     minOccurs="0" maxOccurs="1"/>
        <xsd:element name="INDEX" type="cai:Cpp_Pers_Class_Index"
                     minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="ID"            type="xsd:string" use="required"/>
      <xsd:attribute name="IDENUM"        type="xsd:string" use="optional"/>
      <xsd:attribute name="PERSBASECLASS" type="xsd:string" use="optional"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- persistent template instantiation declaration -->
<!--
<xsd:group name="Cpp_Pers_Templ_Instantiation_Content">
  <xsd:sequence>
    <xsd:element name="INSTANTIATE" type="cai:Cpp_Templ_Instantiation"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:group>

<xsd:complexType name="Cpp_Pers_Templ_Instantiation">
  <xsd:group ref="cai:Cpp_Pers_Templ_Instantiation_Content"
             minOccurs="1" maxOccurs="unbounded"/>
  <xsd:attribute name="TEMPLATE" type="xsd:string" use="required"/>
</xsd:complexType>-->


<!-- persistent interface declaration -->

<xsd:complexType name="Cpp_Pers_Interface">
  <xsd:sequence>
    <xsd:element name="CPP" type="cai:IDL_Cpp_Quote"
                 minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="NAME"      type="xsd:string" use="required"/>
  <xsd:attribute name="ID"        type="xsd:string" use="required"/>
  <xsd:attribute name="EXTENSION" type="xsd:string" use="optional"/>
</xsd:complexType>


</xsd:schema>

